<div id="content_pan">
  <div class="cp_inner">  
    <div id="cp_left">

  <div class="registration">
    <span class="blog_title_heading">Collaborate on Web Design Projects Easily with Cage</span>
    <div class="nonprofit_url_heading">http://www.url.com/</div>
       <div class="nonprofit_title">
      <span class="nonprofit_title_heading">Current points: <span>5624236</span></span>
      <div class="edit_btn"><img src="images/england_bg.gif" /></div>
      </div>
    <div class="non_profit_box">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    <div id="why_i_chose">
      <fieldset>
        
          
          <div class="non_profit">
            
            <div class="today_share_heading">Add New Post
              <div class="today_share_heading2"><img src="images/insert_pic.gif" hspace="6" vspace="0" /> Insert Picture        <img src="images/insert_video.gif" width="15" height="11" /> Insert video</div>
        </div>
        
<textarea name="textarea" cols="" rows="" value="Type your message here..." ></textarea>
          </div>
           <a href="#" > <input type="submit" value="" class="submit_btn" /></a>
            
          <div class="share_btn_div"><div class="share_btn_div_text">To day I'd like to Invite</div>
        <img src="images/share_btn.gif" width="396" height="31" /></div>
         
        <br />
        </fieldset>           
    </div>
 
   
  </div>
  
  <div class="nonprofit_blog">
  
<h1> Blog title </h1>
  
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
 <div class="nonprofit_blog_date"> May 14, 2012   |   Like   |   Comment</div>
<div class="nonprofit_dotted_line"></div>
  </div>
  
  <div class="nonprofit_blog">
  
<h1> Blog title </h1>
  
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
 <div class="nonprofit_blog_date"> May 14, 2012   |   Like   |   Comment</div>
<div class="nonprofit_dotted_line"></div>
  </div>
  
  <div class="nonprofit_blog">
  
<h1> Blog title </h1>
  
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
 <div class="nonprofit_blog_date"> May 14, 2012   |   Like   |   Comment</div>
<div class="nonprofit_dotted_line"></div>
  </div>
  
  
    </div>
        <div id="cp_right">
        <div><a href="#"><input type="submit" name="" value="" class="members_home2_btn" /></a>&nbsp;&nbsp;</div>
     <br />
<br />
<div style="background-color:#FFFFDD;width:155px"><center> 
 </center>
</div>


<br />
<br />

  </div>
        
        
        
       
        <div class="clear"></div>
           <div><img src="images/sponser_wanted.gif" /></div>
    </div>
    
    

</div>