<div id="cp_left">
    
    <h1>Welcome <strong>{{ nonprofit.name }}</strong> to Club4Causes!</h1>

    {{ selecting.member.user.first_name }} {{ selecting.member.user.last_name }} has selected you as one of their favorite Non Profits.
    You will be receiving on going donations.

{{ form_open({id: 'password-form'}) }}
    <fieldset class="niceform">

        <legend>Contact</legend>

        <div>
            <label for="form_first_name">First Name :</label>
            <input type="text" name="first_name" value="{{ value.first_name }}" class="half" aria-required="true" required data-focus="1">
            {{ errmsg.first_name ? "<div class='flderrmsg'>#{ errmsg.first_name }</div>" : '' }}
        </div>
        <div>
            <label for="form_last_name">Last Name :</label>
            <input type="text" name="last_name" value="{{ value.last_name }}" class="half" aria-required="true" required>
            {{ errmsg.last_name ? "<div class='flderrmsg'>#{ errmsg.last_name }</div>" : '' }}
        </div>
        <div>
            <label for="form_username">Username :</label>
            <input type="text" name="username" value="{{ value.username }}" class="half" aria-required="true" required>
            {{ errmsg.username ? "<div class='flderrmsg'>#{ errmsg.username }</div>" : '' }}
        </div>
        <div>
            <label for="form_password">Enter your new password :</label>
            <input type="password" name="password" aria-required="true" required class="half">
            <div class="flderrmsg"></div>
        </div>
        <div>
            <label for="form_password_reentry">Reenter password :</label>
            <input type="password" name="password_reentry" aria-required="true" required class="half">
            <div class="flderrmsg"></div>
        </div>
        <div>
            <label>Sending of "Thank You" emails :</label>
            <div class="barely-glowbox pad1" style="margin-left:2em">
                <label class="nostyle"><input type="checkbox" name="authorize_email" checked><span>To express gratitude to <strong>Members</strong> choosing to support <strong class="royalblue">{{ nonprofit.name }}</strong>, allow automatic sending of "Thank You" emails from Club4Causes email server in behalf of <strong class="royalblue">{{ nonprofit.name }}</strong> everytime a registering member chooses to supports you.<span></label>
            </div>
        </div>

        <div class="actions">
            <button class="button">Submit</button>
        </div>

    </fieldset>
{{ form_close() }}

    <div class="promotional light-border">
        {% if nonprofit %}
            <a href="javascript:download('SEE_ME_ON_SMALL');"><img src="/assets/img/see-us-on-small.jpg" style="display:block; float:right; margin-top:40px" title="Save Photo" /></a>
            <div><a href="http://email.about.com/od/iphonemailtips/qt/et_ip_signature.htm" target="_blank">Set Up Email Signature for IOS Device</a></div>
            <div><a href="http://email.about.com/od/outlooktips/qt/Create_Email_Signature_Outlook.htm" target="_blank">Set Up Email Signature for Outlook</a></div>
            <div><a href="http://email.about.com/od/windowslivehotmailtips/qt/How_to_Set_Up_Your_Windows_Live_Hotmail_Signature.htm" target="_blank">Set Up Email Signature for Hotmail </a></div>
            <div><a href="http://macs.about.com/od/appleconsumersoftware/qt/Add-A-Signature-To-Your-Email-Messages-In-Apple-Mail.htm" target="_blank">Set Up Email Signature for Apple</a></div>
            <div><a href="http://email.about.com/od/yahoomailtip1/qt/How_to_Set_Up_Your_Yahoo_Mail_Signature.htm" target="_blank">Set Up Email Signature for Yahoo</a></div>
            <div><a href="http://email.about.com/od/gmailtips/qt/et_signature.htm" target="_blank">Set Up Email Signature for Gmail</a></div>
            <div><a href="http://droidlessons.com/how-to-setup-email-signatures-on-android/" target="_blank">Set Up Email Signature for Android</a></div>
            <div><a href="http://email.about.com/od/livemaildesktoptips/qt/How_to_Create_a_Signature_in_Windows_Live_Mail_Outlook_Expre.htm" target="_blank">Set Up Email Signature for Windows Live </a></div>
            <div><a href="http://www.hosting.com/support/email/create-an-email-signature-in-thunderbird" target="_blank">Set Up Email Signature for Thunderbird</a></div>
            <div><a href="http://email.about.com/od/aoltips/qt/How-To-Set-Up-An-Email-Signature-In-Aol.htm" target="_blank">Set Up Email Signature for AOL </a></div>
        {% endif %}
    </div>

</div>
