<div id="header_strip">
    <div class="hs_inner">
    
        <ul id="header_menu">
            <li><a href="/">Home</a></li>

{% if current_user %}
            <li><a href="/signout">Sign out</a></li>
            <li><a href="/forum">Forum</a></li>
{% endif %}

            <li><a href="/shopping">Shopping Mall</a></li>
            <li><a href="/celebrities">Top Celebrity Givers</a></li>
            <li><a href="/worlds-top-givers">World's Top Givers</a></li>
            <li><a href="/about">Our Team</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact Us</a></li>

<!--             <li><a href="#" id="language_box" style="white-space:nowrap">{{ mach.flag(country_code) }} {% set short_country = country|split(',') %} &nbsp; {{ short_country[0] }} - {{ language_name }} <img src="/assets/img/translator_icon.gif" /></a>
                <nav class="ray-dropdown">
                    <ul>
                    {% set url = url() %}
                    {% for key, value in country_with_languages %}
                        {% set cntry_code = key|split('_') %}
                        <li><a href="{{ url }}?locale={{ key }}"><div class="flag flag-{{ cntry_code[1]|lower }}"></div>{{ value }}</a></li>
                    {% endfor %}
                    </ul>
                </nav>
            </li>
 -->            
            <li id="google-search">
                <div id="google_translate_element" style="margin-top:-1px"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            </li>
    
        </ul>
  </div>
</div>
