    <div class="home_page_header_content">
      
    	<div class="how_it_works">
        	<div class="hiw_title">Three Minute Video</div>
          <!-- <span  class="watch_video">   <a class='youtube' href="http://www.youtube.com/embed/xlzwMdeoMuQ?rel=0&amp;wmode=transparent&amp;autoplay=1&amp;controls=1&amp;showinfo=0&amp;rel=0" data-tmp-only="&amp;start=0&amp;end=163">Watch How it Works</a></span> -->
          <span  class="watch_video">   <a class='youtube' href="youtube?videoId=7JfrEYFfXfA&amp;width=425&amp;height=315">Watch How it Works</a></span>
           
<div id="da-slider" class="da-slider">
				<div class="da-slide black">
					<h2></h2>
					<p><img src="/assets/img/site_logo.png" /></p>
				</div>
                
{% for celeb in selected_celebrities %}
<div class="da-slide blue">
    <h2 style="text-align:left">{{ celeb.first_name }} {{ celeb.last_name }}</h2>
    <p style="text-align:left"><img src="/web_data/celebrities/img/{{ celeb.image_filename }}" alt="{{ celeb.first_name }} {{ celeb.last_name }}"></p>
    <p style="text-align:left; margin-left: 170px; font-size:1em; line-height:1em">
        <span style="color:#999">Causes:</span><br>

    {% for causes in celeb.causes %}
        <span style="padding-left: 20px">{{ causes.cause }}</span><br>
    {% endfor %}

    </p>
    <p style="text-align:left; margin-left: 350px; font-size:1em; line-height:1em">
        <span style="color:#999">Non profits:</span><br>

    {% for nonprofit in celeb.nonprofits %}
        <span style="padding-left: 20px">{{ nonprofit.name }}</span><br>
    {% endfor %}

    </p>
</div>             
{% endfor %}
<!--
<div class="da-slide blue">
<h2>NO DONATIONS, DUES OR COSTS OF ANY<br />
 KIND, AT ANY TIME.<br />
<p>RAISE FUNDS FOR THE  NON PROFITS
Designated by our members<br />
Charities, Religious Congregations,Schools Fraternal Organizations,<br />
Political Parties, Hospitals, Clinics, Disasters</p>

</div>             
                
                

<div class="da-slide blue">
<h2>OUR MEMBERS</h2>
<p>ARE CARING PEOPLE, JUST LIKE YOU<br />
WHO COME FROM ALL WALKS OF LIFE.<br />
FROM ALL OVER THE WORLD<br />
UNITED    <br />
IN HELPING THE LESS FORTUNATE                    
</p></div>



<div class="da-slide blue">
<h2>Non Profits</h2>
<p>Each member designates two non profits of their own choosing<br />
All of the Non Profits----participate in the income of the club <br />
and ----use the club to promote themselves
</p>
</div>

<div class="da-slide blue">
<h2>SOURCES OF INCOME</h2>
<p>ADVERTISORS, SPONSERS, SHOPPING  MALL  COMMISSIONS<br />
No Donations</p>
</div>
                
                
                
                
<div class="da-slide blue">
<h2>FUN CHALLENGES</h2>
<p style="font-size:12px;">MEMBER PARTICIPATION-OPTIONAL ENJOY SOME OF THE DAILY FUN CHALLENGES<br />

Games, Quizzes, Bridge, Surveys, Crosswords, Polls, Bingo, Scrabble, Poker, 
Contests, Chess, Slots, Solitaire, Suduko, Assorted Puzzles, Fantasy Sports<br />
We pride ourselve in sourcing                                                                                                                                                                                                                                                           
The usual,the unusual,the conventional,the unconventional 
                                     Shopping  
                                                                                                                                                                                                                                                                                                                                                                                                                                                                               </p>

                                                                                                                                                                                                                                                                                                                                                                                          
</div>






<div class="da-slide blue">
<h2>POINTS</h2>
<p>MEMBER’S PARTICIPATION IN CHALLENGES AND SHOPPING
  CREDITED TO THE MEMBER'S DESIGNATED NON PROFITS
</p>
</div>



				<div class="da-slide blue">
					<h2>THE CLUB'S INCOME</h2>
					<p style="font-size:15px;">SEVENTY FIVE PERCENT OF THE CLUB'S GROSS INCOME IS DIVIDED AMONG THE NON PROFITS, QUARTERLY. <br />
TRANSPARENCY THE FINANCIALS ARE PUBLISHED ON THE WEBSITE.<br />
ALL NON PROFITS RECEIVE A PROPORTUNATE AMOUNT OF THE INCOME BASED UPON THE POINTS THEY HAVE ACCUMULATED.
</p>
				</div>
				<div class="da-slide blue">
					<h2>THE FROSTING ON THE CAKE</h2>
					<p>EACH YEAR THE MEMBER'S POINT'S ARE CALCULATED INTO REAL, DOLLAR VALUE,
 PROVIDING 
THE MEMBERS WITH A TAX DEDUCTION.
</p>
				</div>
                
                	<div class="da-slide green">
				<h2>"You Can make a Difference"</h2>
             <p>
                       IT'S FREE <br />
       ENROLL NOW 
</p>
					
				</div>
-->
                
                	<!--<div class="da-slide black">
				<h2>POINT ALLOCATIONS</h2>
             <p><img src="/assets/img/point_allocation2.jpg" /></p>
					
				</div>-->
                
                
                
                
                
                
				<!-- <nav class="da-arrows"> <span class="da-arrows-prev"></span> <span class="da-arrows-next"></span></nav> -->
			</div>
  
        </div>
        
{% include "#{C4c.theme}/1026.site_header_login.twig" %}

    </div>
