<div class="hphc_login_box">
    <h2>Login</h2>

{{ form_open('auth/signin/member') }}

        <input type="text" name="username" class="input_text" placeholder="Username" aria-required="true" required>
        <input type="password" name="password" class="input_text" placeholder="Password" aria-required="true" required>
        <div class="remember_pan">
            <label class="remember_me"><input type="checkbox" name="remember_me">Remember me.</label>
            <a href="/members/recovery" class="forgot_link">Forgot password?</a>
            <div class="clear"></div>
        </div>
        <input id="login_btn" type="submit" value="" class="login_btn">

{{ form_close() }}

    <div class="enroll_now"> It's free! <a href="/registration">Enroll me now..</a> </div>
</div>
<script>
$(function(){
    $('#login_btn').on('click', function(e){
        $this = $(this);
        e.preventDefault();
        $.post('/forum/login.php?action=in',
        {
            'form_sent': '1',
            'redirect_url': 'index.php',
            'req_username': $('#form_username').val(),
            'req_password': $('#form_password').val(),
            'submit': 'login'
        }, function(){
            $($this).parents('form').submit();
        });
    });

});   
</script>
