<div id="site_footer">
	<div class="sf_inner">
        <div class="sfi_menu">
            <div><a href="/about">About Us</a> | <a href="">Current Challenges</a> | <a href="">Member Profiles</a> | <a href="/shopping">Shopping</a> | <a href="">Non Profits Profiles</a> | <a href="/faq">FAQ</a> | <a href="/blog">Blogs</a> | <a href="/contact">Contact Us</a></div>
            <div><a href="">Advertising Info</a> | <a href="">Affiliate Info</a> | <a href="">Sponsersip Info</a></div>
        </div>
        <div class="copy_right">Copyright {{ date('Y') }}. club4causes, All rights reserved. <a href="/privacy-policy">Privacy Policy</a> &nbsp;|&nbsp; <a href="/terms-of-service">Terms of Service</a></div>
    </div>
</div>
