<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray administrator"></span>Advertisement</span>
    </div>
    <div class="content" >

        <!--<form id="validation_demo" action="">-->
        {{ form_open({"enctype": "multipart/form-data", "id": "validation_demo"}) }}

        <!-- Third / Half column-->
        <div class="widgets">
            <div class="oneThree">
                <div class="profileSetting twoImageInput" >
                    <div class="avartar">
                    <img src="/assets/img/no_image_2.jpg" alt="Business_logo" title="Business_logo" />
                    </div>
                    <div class="avartar">
                        <input type="file" class="fileupload" name="image_filename" id="form_image_filename">
                        {{ errmsg.image_filename ? "<div class='flderrmsg'>#{ errmsg.image_filename }</div>" : '' }}
                        <p align="center"><span id="business_logo">Advertisement</span></p>
                    </div>
                </div>
            </div>

            <div class="twoOne">
                <div class="section ">
                    <label> Target URL<small>Enter URL</small></label>   
                    <div>
                        <div ng-controller="ctrlMultipleInput">
                            <div ng-repeat="i in entries" class="control-group">
                                <div ng-controller='ctrlEmptyOne'>
                                {% for space in spaces %}
                                    {#<select name="page_id">
                                      <option value="{{ page.spaces.page_id }}">{{ page.page_path }}</option>
                                    </select>#}
                                    <input type="text" aria-required="true" required name="target_url[]" placeholder="http://dev.club4causes.com/celebrities" data-focus="1" value="{{ space.page.page_path }} "><input type="text" name="id" value="{{ space.id }}" hidden>
                                {% endfor %}
                                    {{ errmsg.target_url ? "<div class='flderrmsg'>#{ errmsg.target_url }</div>" : '' }}
                                    <textarea name="target_description[]" class="large">description...</textarea>
                                    <input ng-hide="i.is_active" type="button" ng-click="delete($index)" value="x">
                                    <input ng-show="i.is_active" type="button" ng-click="add()" value="+">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section last">
                    <div>
                      <a class="uibutton submit_form" >Submit</a>
                    </div>
                </div>
            </div>
        </div><!-- End Third / Half column-->
        <button class="hidden_submit"></button>
        {{ form_close() }}

        <!-- clear fix -->
        <div class="clear"></div>

    </div><!-- End content -->
</div><!-- End full width -->

<script type="text/javascript">
$(function()
{
    $('img[data-upload]').click(function(){
        $('input[name='+$(this).data('upload')+']').click();
    });

    $('#form_image_filename').change(function(){
        read_url(this, $(this).parents('.profileSetting').find('img'));
    });

    $('#validation_demo').submit(function(){
        var is_valid = true;

        if ($('#form_image_filename').val()){
            $('#business_logo').css('color', '#AAAAAA');
        } else {
            is_valid = false
            $('#business_logo').css('color', 'red');
        }

        if ( ! is_valid)
            return false;
    });
});


function ctrlAvailableNames($scope) {
    $scope.items = [];
    }
function ctrlEmptyOne($scope) {
    $scope.items = [];
}

</script>

