<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray administrator"></span>Advertisement</span>
        <a class="uibutton submit_form" href="/admin/ads/owner/view">Back to Business Owners</a>
    </div>
    <div class="content" >

        <!--<form id="validation_demo" action="">-->
        {{ form_open({"enctype": "multipart/form-data", "id": "validation_demo"}) }}

        <!-- Third / Half column-->
        <div class="widgets">
            <div class="oneThree">
            </div>

            <div class="twoOne">
                <div class="section ">
                    <label> Email </label>   
                    <div>
                        <input type="text" aria-required="true" required name="email" data-focus="1">
                        {{ errmsg.email ? "<div class='flderrmsg'>#{ errmsg.email }</div>" : '' }}
                    </div>
                </div>
                
                <div class="section ">
                    <label> Username</label>
                    <div>
                        <input type="text" class="validate[required] large" name="username">
                        {{ errmsg.username ? "<div class='flderrmsg'>#{ errmsg.username }</div>" : '' }}
                    </div>
                </div>
                
                <div class="section ">
                    <label> Password</label>
                    <div>
                        <input type="password" class="validate[required] large" name="password">
                        {{ errmsg.password ? "<div class='flderrmsg'>#{ errmsg.password }</div>" : '' }}
                        <input type="text" class="hidden" name="firstname" value="firstname" >
                        <input type="text" class="hidden" name="lastname" value="lastname" >
                        <input type="text" class="hidden" name="alias" value="alias" >
                        <input type="text" class="hidden" name="gender" value="M" >
                    </div>
                </div>

                <div class="section last">
                    <div>
                      <a class="uibutton submit_form" >Submit</a>
                    </div>
                </div>
            </div>

        </div><!-- End Third / Half column-->
        <button class="hidden_submit"></button>
        {{ form_close() }}

        <!-- clear fix -->
        <div class="clear"></div>

    </div><!-- End content -->
</div><!-- End full width -->