<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray administrator"></span>Business Owners</span>
        <a class="uibutton submit_form" href="/admin/ads/owner">Add Owner</a>
    </div><!-- End header -->
    <div class="content" >

{% for owner in owners %}
        <!-- Third / Half column-->
        <div class="widgets quasi_form">
            <div class="oneThree">
                <div class="profileSetting twoImageInput" >
                    <div class="avartar"><img src="{{ owner.user.image_filename ? "/web_data/users/#{owner.user.image_filename}" : '/assets/img/no_image_2.jpg' }}" alt="Business logo" title="Business logo" /></div>
                </div>
            </div>

            <div class="twoOne">
                <div class="section ">
                    <label> Business Name</label>
                    <div class="large">{{ owner.business_name }}</div>
                </div>

                <div class="section">
                    <label> City</label>
                    <div class="large">{{ owner.address.city }}</div>
                </div>

                <div class="section ">
                    <label> State</label>
                    <div class="large">{{ owner.address.state }}</div>
                </div>
                
                <div class="section ">
                    <label> Country</label>
                    <div class="large">{{ owner.address.country }}</div>
                </div>

                <div class="header"><span><span class="ico  gray spreadsheet"></span> Business </span>
                    <a class="uibutton confirm" href="/admin/ads/advertisement/index/{{ owner.id }}">Create Advertisement</a>
                </div>
                <table id="static" class="display dataTable">
                    
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    </tbody>
                </table>
            </div>

        </div><!-- End Third / Half column-->

        <!-- clear fix -->
        <div class="clear"></div>

    {% if not loop.last %}
        <hr class="thinfade">
    {% endif %}

{% endfor %}

    </div><!-- End content -->
</div><!-- End full width -->
