<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray administrator"></span>Advertisement</span>
        <a class="uibutton submit_form" href="/admin/ads/owner/view">Back to Business Owners</a>
    </div>
    <div class="content" >

        <!--<form id="validation_demo" action="">-->
        {{ form_open({"enctype": "multipart/form-data", "id": "validation_demo"}) }}

        <!-- Third / Half column-->
        <div class="widgets">
            <div class="oneThree">
            </div>

            <div class="twoOne">
                <div class="section webcam">
                    <label> Take a picture<small>With webcam</small></label> 
                    <div> 
                        <div id="screen"></div>
                        <div class="buttonPane">
                            <a id="takeButton" class="uibutton">Take Me</a> <a id="closeButton" class="uibutton special">Close</a>
                        </div>
                        <div class="buttonPane hideme">
                            <a id="uploadAvatar" class="uibutton confirm">Upload Avartar</a> <a id="retakeButton" class="uibutton special">Retake</a> 
                        </div>
                    </div>
                </div>
               
                <div class="section ">
                    <label> Page / Location Site <small>Click on [+] to add more</small></label>
                    <div ng-controller="ctrlMultipleInput">
                        <div ng-repeat="i in entries" class="control-group">
                            <div ng-controller='ctrlEmptyOne'>
                                <input init-focus type="text" name="page[]" placeholder="http://dev.club4causes.com/celebrities" aria-required="true" required>
                                {{ errmsg.page ? "<div class='flderrmsg'>#{ errmsg.page }</div>" : '' }}
                                <textarea name="page_description[]" class="large">description...</textarea>
                                <input ng-hide="i.is_active" type="button" ng-click="delete($index)" value="x">
                                <input ng-show="i.is_active" type="button" ng-click="add()" value="+">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="section ">
                    <label> Location Code <small>Click on [+] to add more</small></label>
                    <div ng-controller="ctrlMultipleInput">
                        <div ng-repeat="i in entries" class="control-group">
                            <div ng-controller='ctrlEmptyOne'>
                                <div> 
                                    <input init-focus type="text" name="location_code[]" placeholder="top, middle, bottom" aria-required="true" required>
                                    {{ errmsg.location_code ? "<div class='flderrmsg'>#{ errmsg.location_code }</div>" : '' }}
                                </div>
                                <textarea name="space_description[]" class="large">description...</textarea>
                                <input ng-hide="i.is_active" type="button" ng-click="delete($index)" value="x">
                                <input ng-show="i.is_active" type="button" ng-click="add()" value="+">
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="section last">
                    <div>
                      <a class="uibutton submit_form" >Submit</a>
                    </div>
                </div>
            </div>

        </div><!-- End Third / Half column-->
        <button class="hidden_submit"></button>
        {{ form_close() }}

        <!-- clear fix -->
        <div class="clear"></div>

    </div><!-- End content -->
</div><!-- End full width -->

<script type="text/javascript">
function ctrlAvailableNames($scope) {
    $scope.items = [];
    }
function ctrlEmptyOne($scope) {
    $scope.items = [];
}

</script>