<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray administrator"></span>Celebrities</span>
        <a class="uibutton submit_form" href="/admin/celebrities/create">Add a Celebrity</a>
    </div><!-- End header -->
    <div class="content" >

{% for celeb in celebrities %}
        <div id="divAction" class="floatLeft one-third">

        {% if celeb.selected == 1 %}
            <input class="greenBtn" data-id="{{ celeb.id }}" type="button" title="Select {{ celeb.first_name }} {{ celeb.last_name }}">
            <input class="cmcheckbox hidden" data-id="{{ celeb.id }}" type="button" title="Select {{ celeb.first_name }} {{ celeb.last_name }}">
        {% else %}
            <input class="greenBtn hidden" data-id="{{ celeb.id }}" type="button" title="Select {{ celeb.first_name }} {{ celeb.last_name }}">
            <input class="cmcheckbox" data-id="{{ celeb.id }}" type="button" title="Select {{ celeb.first_name }} {{ celeb.last_name }}">
        {% endif %}

            <input class="redBtn hidden" data-id="{{ celeb.id }}" type="button" title="Unselect {{ celeb.first_name }} {{ celeb.last_name }}" value="Unselect ?">
            {{ celeb.first_name }} {{ celeb.last_name }}
        </div>
{% endfor %}

    </div><!-- End content -->
</div><!-- End full width -->

<script type="text/javascript">
    
$(function(){
    $('#divAction > .greenBtn').on('click', function(){
        $(this).addClass('hidden');
        $(this).siblings('.redBtn').removeClass('hidden');
    });
    
    $('#divAction > .cmcheckbox').on('click', function(){
        var $this = this;
        $.post('/admin/ajax/celebrity/select', { id: $(this).data('id') }, function(result){
            if (result.success){
                $($this).addClass('hidden');
                $($this).siblings('.greenBtn').removeClass('hidden');
            }
        }, 'json')
    });

    $('#divAction > .redBtn').on('click', function(){
        var $this = this;
        $.post('/admin/ajax/celebrity/remove', { id: $($this).data('id') }, function(result){
            if (result.success){
                $($this).addClass('hidden');
                $($this).siblings('.cmcheckbox').removeClass('hidden');
            }
        }, 'json')
    });
});

</script>