<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray administrator"></span>Contributor</span>
        <a class="uibutton submit_form" href="/admin/contributor/create">Add a Contributor</a>
    </div><!-- End header -->
    <div class="content" >

{% for contrib in contributors %}
        <!-- Third / Half column-->
        <div class="widgets quasi_form">
            <div class="oneThree">
                <div class="profileSetting twoImageInput" >
                    <div class="avartar"><img src="{{ contrib.image_filename ? "/web_data/contributor/#{contrib.image_filename}" : '/assets/img/no_image_2.jpg' }}" alt="Organization logo" title="Organization logo" /></div>
                </div>
                <div class="profileSetting twoImageInput" >
                    <div class="avartar"><img src="{{ contrib.organization_logo ? "/web_data/contributor/#{contrib.organization_logo}" : '/assets/img/no_image_2.jpg' }}" alt="Organization logo" title="Organization logo" /></div>
                </div>
            </div>

            <div class="twoOne">
                <div class="section ">
                    <label> Full name</label>   
                    <div class="large">{{ contrib.name }}</div>
                </div>

                <div class="section">
                    <label> Organization</label>
                    <div class="large">{{ contrib.organization_name }}</div>
                </div>

                <div class="section ">
                    <label> About</label>   
                    <div class="large">{{ contrib.organization_text }}</div>
                </div>
                <div>
                    <input data-id="{{ contrib.id }}" type="button" class="uibutton special floatRight" value="x" title="Delete this">
                </div>
            </div>

            <!-- clear fix -->
            <div class="clear"></div>

        {% if not loop.last %}
            <hr class="thinfade">
        {% endif %}

        </div><!-- End Third / Half column-->

{% endfor %}

    </div><!-- End content -->
</div><!-- End full width -->

<script>
$(function(){
    /**
     * Delete button action
     */
    $('input[value=x]').on('click', function(){
        var qf = $(this).parents('.quasi_form'),
            $this = $(this);

        $('.redDashed').removeClass('redDashed').addClass('redDashedFaded'); // fade previously marked
        qf.addClass('redDashed');
        
        $(this)
            .val('Click to confirm')
            .off('click').on('click', function(){
                $.post('/admin/ajax/delete/contributor', {id: $(this).data('id')}, function(result){
                    if (result.success) {
                        qf.slideUp(function(){
                            qf.remove();
                        });
                    } else {
                        alert('Attempt to delete failed.');
                    }
                }, 'json');
            });
    });
});
</script>