<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray administrator"></span>Contributor</span></div><!-- End header -->
    <div class="content" >

        <!--<form id="validation_demo" action="">-->
        {{ form_open({"enctype": "multipart/form-data", "id": "validation_demo"}) }}

        <!-- Third / Half column-->
        <div class="widgets">
            <div class="oneThree">
                <div class="profileSetting twoImageInput" >
                    <div class="avartar"><img data-upload="image_filename" src="/assets/img/no_image_2.jpg" width="180" height="180" alt="Contributor" title="Contributor" /></div>
                    <div class="avartar">
                        <input type="file" class="fileupload" name="image_filename" id="form_image_filename">
                        <p align="center"><span id="contributors_picture">CONTRIBUTOR'S PICTURE</span></p>
                    </div>
                </div>
                <div class="profileSetting twoImageInput" >
                    <div class="avartar"><img data-upload="organization_logo" src="/assets/img/no_image_2.jpg" width="180" height="180" alt="Organization logo" title="Organization logo" /></div>
                    <div class="avartar">
                        <input type="file" class="fileupload" name="organization_logo" id="form_organization_logo">
                        <p align="center"><span id="organization_logo">ORGANIZATION LOGO</span></p>
                    </div>
                </div>
            </div>

            <div class="twoOne">
                <div class="section webcam">
                    <label> Take a picture<small>With  webcam</small></label>   
                    <div> 
                        <div id="screen"></div>
                        <div class="buttonPane">
                            <a id="takeButton" class="uibutton">Take Me</a> <a id="closeButton" class="uibutton special">Close</a>
                        </div>
                        <div class="buttonPane hideme">
                            <a id="uploadAvatar" class="uibutton confirm">Upload Avartar</a> <a id="retakeButton" class="uibutton special">Retake</a> 
                        </div>
                    </div>
                </div>

                <div class="section ">
                    <label> Full name<small>Enter name of contributor</small></label>   
                    <div> 
                        <input type="text" class="validate[required] large" name="name" value="{{ value.name }}" data-focus="1">
                        {{ errmsg.name ? "<div class='flderrmsg'>#{ errmsg.name }</div>" : '' }}
                    </div>
                </div>

                <div class="section">
                    <label> Organization <small>Enter name of organization</small></label>
                    <div>
                        <input type="text" name="organization_name" class="validate[required]] large" value="{{ value.organization_name }}">
                        {{ errmsg.organization_name ? "<div class='flderrmsg'>#{ errmsg.organization_name }</div>" : '' }}
                    </div>
                </div>

                <div class="section ">
                    <label> About <small>Something about the contributor or his or her organization</small></label>   
                    <div> 
                        <textarea type="text" name="about" class="validate[required]  large" aria-required="true" required>{{ value.about }}</textarea>
                        {{ errmsg.about ? "<div class='flderrmsg'>#{ errmsg.about }</div>" : '' }}
                    </div>
                </div>
               
                <div class="section ">
                    <label> Non Profit <small>Click on [+] to add more</small></label>   
                    <div ng-controller="ctrlMultipleInput">
                        <div ng-repeat="i in entries" class="control-group">
                            <div ng-controller='ctrlAvailableNames'>
                                <input init-focus ui-items="items" type="text" name="nonprofit[]" auto-complete placeholder="Nonprofit" class="large"> 
                                <input ng-hide="i.is_active" type="button" ng-click="delete($index)" value="x">
                                <input ng-show="i.is_active" type="button" ng-click="add()" value="+">
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="section ">
                    <label> URL to website<small>Click on [+] to add more</small></label>
                    <div ng-controller="ctrlMultipleInput">
                        <div ng-repeat="i in entries" class="control-group">
                            <div ng-controller='ctrlEmptyOne'>
                                <input init-focus type="text" name="asset_website_url[]" placeholder="http://www.example.com/" class="large"> 
                                <textarea name="asset_website_desc[]" class="large">description...</textarea>
                                <input ng-hide="i.is_active" type="button" ng-click="delete($index)" value="x">
                                <input ng-show="i.is_active" type="button" ng-click="add()" value="+">
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="section ">
                    <label> URL to video<small>Click on [+] to add more</small></label>
                    <div ng-controller="ctrlMultipleInput">
                        <div ng-repeat="i in entries" class="control-group">
                            <div ng-controller='ctrlEmptyOne'>
                                <input init-focus type="text" name="asset_video_url[]" placeholder="http://www.youtube.com/video" class="large"> 
                                <textarea name="asset_video_desc[]" class="large">description...</textarea>
                                <input ng-hide="i.is_active" type="button" ng-click="delete($index)" value="x">
                                <input ng-show="i.is_active" type="button" ng-click="add()" value="+">
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="section ">
                    <label> URL to picture <small>Click on [+] to add more</small></label>
                    <div ng-controller="ctrlMultipleInput">
                        <div ng-repeat="i in entries" class="control-group">
                            <div ng-controller='ctrlEmptyOne'>
                                <input init-focus type="text" name="asset_picture_url[]" placeholder="http://www.flickr.com/picture" class="large"> 
                                <textarea name="asset_picture_desc[]" class="large">description...</textarea>
                                <input ng-hide="i.is_active" type="button" ng-click="delete($index)" value="x">
                                <input ng-show="i.is_active" type="button" ng-click="add()" value="+">
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="section last">
                    <div>
                      <a class="uibutton submit_form" >Submit</a>
                    </div>
                </div>
            </div>

        </div><!-- End Third / Half column-->
        <button class="hidden_submit"></button>
        {{ form_close() }}

        <!-- clear fix -->
        <div class="clear"></div>

    </div><!-- End content -->
</div><!-- End full width -->

<script type="text/javascript">
$(function()
{
    $('img[data-upload]').click(function(){
        $('input[name='+$(this).data('upload')+']').click();
    });

    $('#form_image_filename').change(function(){
        read_url(this, $(this).parents('.profileSetting').find('img'));
    });

    $('#form_organization_logo').change(function(){
        read_url(this, $(this).parents('.profileSetting').find('img'));
    });

    $('#validation_demo').submit(function(){
        var is_valid = true;

        if ($('#form_image_filename').val()){
            $('#contributors_picture').css('color', '#AAAAAA');
        } else {
            is_valid = false
            $('#contributors_picture').css('color', 'red');
        }

        if ($('#form_organization_logo').val()){
            $('#organization_logo').css('color', '#AAAAAA');
        } else {
            is_valid = false
            $('#organization_logo').css('color', 'red');
        }

        if ( ! is_valid)
            return false;
    });
});

function ctrlAvailableNames($scope) {
    $scope.items = [];
    {% for nonprofit in nonprofit_arr %}
    $scope.items.push("{{ addslashes(nonprofit) }}");
    {% endfor %}
}
function ctrlEmptyOne($scope) {
    $scope.items = [];
}
</script>