<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray administrator"></span>Coupon</span>
    </div>
    <div class="content" >

        <!--<form id="validation_demo" action="">-->
        {{ form_open({"enctype": "multipart/form-data", "id": "validation_demo"}) }}

        <!-- Third / Half column-->
        <div class="widgets">
            <div class="oneThree">
                <div class="profileSetting twoImageInput" >
                    <div class="avartar"><img data-upload="image_filename" src="/assets/img/no_image_2.jpg" width="180" height="180" alt="business logo" title="Business logo" /></div>
                    <div class="avartar">
                        <input type="file" class="fileupload" name="image_filename" id="form_image_filename">
                        {{ errmsg.image_filename ? "<div class='flderrmsg'>#{ errmsg.image_filename }</div>" : '' }}
                        <p align="center"><span>BUSINESS LOGO</span></p>
                    </div>
                </div>
            </div>

            <div class="twoOne">
                <div class="section ">
                    <label> Name<small>Business Name</small></label>   
                    <div> 
                        <input type="text" name="business_name" value="{{ value.business_name }}" data-focus="1" aria-required="true" required>
                        {{ errmsg.business_name ? "<div class='flderrmsg'>#{ errmsg.business_name }</div>" : '' }}
                    </div>
                </div>
                
                <div class="section ">
                    <label> Coupon</label>   
                    <div> 
                        <input type="text" name="coupon" value="{{ value.coupon }}" aria-required="true" required>
                        {{ errmsg.coupon ? "<div class='flderrmsg'>#{ errmsg.coupon }</div>" : '' }}
                    </div>
                </div>
                
                <div class="section ">
                    <label> Business_url</label>   
                    <div> 
                        <input type="text" name="business_url" value="{{ value.business_url }}" aria-required="true" required placeholder="http://dev.club4causes.com/celebrities">
                        {{ errmsg.business_url ? "<div class='flderrmsg'>#{ errmsg.business_url }</div>" : '' }}
                    </div>
                </div>
                
                <div class="section ">
                    <label> Details<small>Coupon description</small></label>
                    <div> 
                        <textarea name="details" class="large"></textarea>
                        {{ errmsg.details ? "<div class='flderrmsg'>#{ errmsg.details }</div>" : '' }}
                    </div>
                </div> 

                <div class="section last">
                    <div>
                      <a class="uibutton submit_form" >Submit</a>
                    </div>
                </div>
            </div>

        </div><!-- End Third / Half column-->
        <button class="hidden_submit"></button>
        {{ form_close() }}

        <!-- clear fix -->
        <div class="clear"></div>

    </div><!-- End content -->
</div><!-- End full width -->

<script type="text/javascript">
$(function()
{
    $('img[data-upload]').click(function(){
        $('input[name='+$(this).data('upload')+']').click();
    });

    $('#form_image_filename').change(function(){
        read_url(this, $(this).parents('.profileSetting').find('img'));
    });

});

</script>