<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray administrator"></span>FAQ</span>
        <a class="uibutton submit_form" href="/admin/faq/create">Add an FAQ</a>
    </div><!-- End header -->
    <div class="content" >

{{ form_open() }}
    <input type="hidden" name="faqs_id">

        <div class="widgets quasi_form">

            <div class="form-group">
                <label> Question</label>   
                <div>
                    <input type="text" name="question" class="largest" value="{{ value.question }}" aria-required="true" required data-focus="1">
                    {{ errmsg.question ? "<div class='flderrmsg'>#{ errmsg.question }</div>" : '' }} 
                </div>
                <div>
                    <label> Answer</label>   
                    <textarea name="answer" class="largest editor wysiwyg" >{{ value.answer }}</textarea>
                    {{ errmsg.answer ? "<div class='flderrmsg'>#{ errmsg.answer }</div>" : '' }} 
                </div>
                <div class="section">
                    <label> Priority<small>Lower number will display first</small></label>   
                </div>
                <div>
                    <input type="text" name="priority" value="{{ value.priority }}" >
                </div>
                <div>
                    <button class="uibutton special">Submit</button>
                </div>
            </div>

        </div><!-- End Third / Half column-->

        <!-- clear fix -->
        <div class="clear"></div>

{{ form_close() }}

    </div><!-- End content -->
</div><!-- End full width -->
