<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray administrator"></span>FAQ</span>
        <a class="uibutton submit_form" href="/admin/faq/create">Add an FAQ</a>
    </div><!-- End header -->
    <div class="content" >

{{ form_open() }}
    <input type="hidden" name="faqs_id">

    {% for faq in faqs %}
        <!-- Third / Half column-->
        <div class="widgets quasi_form">

            <div class="form-group">
                <label> Question</label>   
                <div>
                    <input type="text" name="question" class="largest" value="{{ faq.question }}" disabled>
                </div>
                <div>
                <label> Answer</label>   
                    <textarea name="answer" class="largest editor wysiwyg" disabled>{{ faq.answer }}</textarea>
                </div>
                <div class="section">
                    <label> Priority<small>Lower number will display first</small></label>   
                </div>
                <div>
                    <input type="text" name="priority" value="{{ faq.priority }}" disabled>
                </div>
                <div>
                    <button class="uibutton confirm" data-id="{{ faq.id }}">Edit</button>
                    <button class="uibutton submit_form hidden">Save</button>
                    <input data-id="{{ faq.id }}" type="button" class="uibutton special floatRight" value="x" title="Delete this">
                </div>
            </div>

        </div><!-- End Third / Half column-->

        <!-- clear fix -->
        <div class="clear"></div>

    {% endfor %}

{{ form_close() }}

    </div><!-- End content -->
</div><!-- End full width -->

<script>
$(function(){
    $('div.form-group').css('marginBottom', '40px');

    /**
     * Delete button action
     */
    $('input[value=x]').on('click', function(){
        var qf = $(this).parents('.quasi_form'),
            $this = $(this);

        $('.redDashed').removeClass('redDashed').addClass('redDashedFaded'); // fade previously marked
        qf.addClass('redDashed');
        
        $(this)
            .val('Click to confirm')
            .off('click').on('click', function(){
                $.post('/admin/ajax/delete/faq', {id: $(this).data('id')}, function(result){
                    if (result.success) {
                        qf.slideUp(function(){
                            qf.remove();
                        });
                    } else {
                        alert('Attempt to delete failed.');
                    }
                }, 'json');
            });
    });
});
$('form button.confirm').click(function(e){
    e.preventDefault();

    $(this).parents('div.form-group').removeClass('form-group').addClass('the-group');
    $('div.form-group').remove();
    $(this).parents('div.the-group').show();

    $('#form_faqs_id').val( $(this).data('id') );

    $(this).parents('div.the-group').find('input, textarea').removeAttr('disabled');
    $(this).parents('div.the-group').find('input, textarea').first().focus();

    $(this).siblings('button').removeClass('hidden');
    $(this).hide();
});
</script>