<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray administrator"></span>Pets</span></div><!-- End header -->
    <div class="content" >

        {{ form_open({"enctype": "multipart/form-data", "id": "form_val"}) }}

        <!-- Third / Half column-->
        <div class="widgets">
            <div class="oneThree">
                <div class="profileSetting twoImageInput" >
                    <div class="avartar"><img data-upload="image_filename" src="/assets/img/no_image_2.jpg" width="180" height="180" alt="Pets" title="Pets" /></div>
                    <div class="avartar">
                        <input type="file" class="fileupload" name="image_filename" id="form_image_filename">
                        <p align="center"><span id="pets_picture">PET'S PICTURE</span></p>
                    </div>
                </div>
            </div>

            <div class="twoOne">
                <div class="section ">
                    <label> Name<small>Enter name of pet</small></label>   
                    <div> 
                        <input type="text" class="large" name="name" value="{{ value.name }}" data-focus="1" aria-required="true" required>
                        {{ errmsg.name ? "<div class='flderrmsg'>#{ errmsg.name }</div>" : '' }}
                    </div>
                </div>

                <div class="section ">
                    <label> merchant website URL</label>
                        <input type="text" name="merchant_url" value="{{ value.merchant_url }}" class="larger" placeholder="http://www.example.com/" aria-required="true" required> 
                        {{ errmsg.merchant_url ? "<div class='flderrmsg'>#{ errmsg.merchant_url }</div>" : '' }}
                </div>
               
                <div class="section ">
                    <label> URL to video</label>
                    <input type="text" name="asset_video_url" class="larger" placeholder="http://www.youtube.com/video"> 
                </div>
               
                <div class="section last">
                    <div>
                      <a class="uibutton submit_form" >Submit</a>
                    </div>
                </div>
            </div>

        </div><!-- End Third / Half column-->
        <button class="hidden_submit"></button>
        {{ form_close() }}

        <!-- clear fix -->
        <div class="clear"></div>

    </div><!-- End content -->
</div><!-- End full width -->

<script type="text/javascript">
$(function()
{
    $('img[data-upload]').click(function(){
        $('input[name='+$(this).data('upload')+']').click();
    });

    $('#form_image_filename').change(function(){
        read_url(this, $(this).parents('.profileSetting').find('img'));
    });

    $('#form_val').submit(function(){
        var is_valid = true;

        if ($('#form_image_filename').val()){
            $('#pets_picture').css('color', '#AAAAAA');
        } else {
            is_valid = false
            $('#pets_picture').css('color', 'red');
        }

        if ( ! is_valid)
            return false;
    });
});
</script>