<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray administrator"></span>Pets</span>
        <a class="uibutton submit_form" href="/admin/pets/create">Add a Pet</a>
    </div><!-- End header -->
    <div class="content" >

{% for pet in pets %}
        <!-- Third / Half column-->
        <div class="widgets quasi_form">
            <div class="oneThree">
                <div class="profileSetting twoImageInput" >
                    <div class="avartar"><img src="{{ pet.image_filename ? "/web_data/pets/#{pet.image_filename}" : '/assets/img/no_image_2.jpg' }}" alt="{{ pet.name }}" title="{{ pet.name }}" /></div>
                </div>
            </div>

            <div class="twoOne">
                <div class="section ">
                    <label> Name</label>   
                    <div class="large">{{ pet.name }}</div>
                </div>

                <div class="section">
                    <label> Merchant URL</label>
                    <div class="large"><a href="{{ pet.merchant_url }}">{{ pet.merchant_url }}</a></div>
                </div>
                <div class="section last">
                    <span class="checkslide">
                        <input type="checkbox" data-id="{{ pet.id }}" {{ selected_id == pet.id ? 'checked' : '' }}>
                        <label data-off="OFF" data-on="ON"></label>
                    </span>
                    <span class="status_in_words">{{ selected_id == pet.id ? 'Selected' : '' }}</span>
                </div>
            </div>

        </div><!-- End Third / Half column-->

        <!-- clear fix -->
        <div class="clear"></div>

    {% if not loop.last %}
        <hr class="thinfade">
    {% endif %}

{% endfor %}

    </div><!-- End content -->
</div><!-- End full width -->
<script>
$(function(){
    $('input[type=checkbox]').click(function(){
        var $this = this;

        if ($(this).is(':checked') === true) {
            /**
             * Goes here when setting from Off to On
             */
            $.post('/admin/ajax/set/pet',
                {id: $(this).data('id')},
                function(result){
                    if (result.success) {
                        $('input[type=checkbox]').removeAttr('checked');
                        $('.status_in_words').html('');
                        $($this)
                            .attr('checked', 'checked')
                            .parent().siblings('.status_in_words').html('Selected');
                    }
                }, 'json');

        } else {
            /**
             * Goes here when setting from On to Off
             */
            $.post('/admin/ajax/set/pet',
                {id: $(this).data('id'), priority: 0},
                function(result){
                    if (result.success) {
                        $($this).parent().siblings('.status_in_words').html('');
                    }
                }, 'json');
        }
    });
});
</script>