<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray administrator"></span>Privacy Policy</span></div><!-- End header -->
    <div class="content" >

{{ form_open() }}

        <div class="widgets quasi_form">

            <textarea name="policy" class="largest editor wysiwyg" >{{ value.policy }}</textarea>
            {{ errmsg.policy ? "<div class='flderrmsg'>#{ errmsg.policy }</div>" : '' }} 
            <div class="section last">
                <div>
                    <button class="uibutton special">Submit</button>
                </div>
            </div>

        </div><!-- End Third / Half column-->

        <!-- clear fix -->
        <div class="clear"></div>

{{ form_close() }}

    </div><!-- End content -->
</div><!-- End full width -->
