<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray home"></span> Settings </span>{# include "0021.live_search.twig" #}</div><!-- End header -->
    <div class="content">


    <!-- Half width column-->
    <div class="widgets">

        <div>
            <br>

        {{ form_open() }}
            {% for setting in settings %}

                <div class="section">
                    <label> {{ setting.key|replace({'.': ' ', '_': ' '}) }} <small>{{ setting.info|replace({'_': ' '}) }}</small></label>
                    <div>
                        <input type="text" name="{{ setting.key }}" class="half" aria-required="true" required value="{{ setting.value }}">
                    </div>
                </div>

            {% endfor %}

                <div class="section last">
                    <div> <a class="uibutton loading" rel="1" href="submit" title="Processing"> save</a> </div>
                </div>

        {{ form_close() }}

        </div>
        </div><!-- End Half width column -->

        <!-- clear fix -->
        <div class="clear"></div>
        
    </div><!-- End content -->
</div><!-- End full width -->
