<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray administrator"></span>Shopslide</span>
        <a class="uibutton submit_form" href="/admin/shopslide/create">Add a Shopslide</a>
    </div><!-- End header -->
    <div class="content" >

{{ form_open() }}
{% for shopslide in shopslides %}
        <!-- Third / Half column-->
        <div class="widgets quasi_form">
            <div class="oneThree">
                <div class="profileSetting twoImageInput" >
                    <div class="avartar"><img src="{{ shopslide.image_filename ? "/web_data/static/images/#{shopslide.image_filename}" : '/assets/img/no_image_2.jpg' }}"></div>
                </div>
            </div>

            <div class="twoOne">
                <div class="section ">
                    <label> String</label>   
                    <div class="large">{{ shopslide.string }}</div>
                </div>

                <div class="section">
                    <label> Merchant URL</label>
                    <div class="large"><a href="{{ shopslide.merchant_url }}">{{ shopslide.merchant_url }}</a></div>
                </div>
                <div class="section last">
                    <span class="checkslide">
                        <input type="checkbox" data-id="{{ shopslide.id }}" {{ shopslide.is_active ? 'checked' : '' }}>
                        <label data-off="OFF" data-on="ON"></label>
                    </span>
                    <input data-id="{{ shopslide.id }}" type="button" class="uibutton special floatRight" value="x" title="Delete this">
                    <input data-id="{{ shopslide.id }}" type="button" class="uibutton prioritize floatRight" value="Move to top" title="Show this item first">
                    <!-- <button data-id="{{ shopslide.id }}" class="uibutton iprioritize floatRight" title="Show this item first">Move to top</button> -->
                </div>
            </div>

            <!-- clear fix -->
            <div class="clear"></div>

        {% if not loop.last %}
            <hr class="thinfade">
        {% endif %}

        </div><!-- End Third / Half column-->

{% endfor %}
{{ form_close() }}

    </div><!-- End content -->
</div><!-- End full width -->
<script>
$(function(){

    /**
     * Prioritize button action
     */
    $('input.prioritize').on('click', function(){
        var $this = $(this);
        $.post('/admin/ajax/touch/shopslide', {id: $(this).data('id')}, function(result){
            var qf;
            if (result.success) {
                qf = $this.parents('.quasi_form');
                qf.prependTo( qf.parent('form') );
            } else {
                alert('Attempt to prioritize failed.');
            }
        }, 'json');
    });

    /**
     * Delete button action
     */
    $('input[value=x]').on('click', function(){
        $(this)
            .val('Click to confirm')
            .off('click').on('click', function(){
                var $this = $(this);
                $.post('/admin/ajax/delete/shopslide', {id: $(this).data('id')}, function(result){
                    var qf;
                    if (result.success) {
                        qf = $this.parents('.quasi_form');
                        qf.remove();
                    } else {
                        alert('Attempt to delete failed.');
                    }
                }, 'json');
            });
    });

    $('input[type=checkbox]').click(function(){
        var $this = this;

        if ($(this).is(':checked') === true) {
            /**
             * Goes here when setting from Off to On
             */
            $.post('/admin/ajax/set/shopslide',
                {id: $(this).data('id'), is_active: 1},
                function(result){
                    if (result.success) {
                        $('.status_in_words').html('');
                        $($this).attr('checked', 'checked')
                    }
                }, 'json');

        } else {
            /**
             * Goes here when setting from On to Off
             */
            $.post('/admin/ajax/set/shopslide',
                {id: $(this).data('id'), is_active: 0},
                function(result){
                    if (result.success) {
                        $($this).parent().siblings('.status_in_words').html('');
                    }
                }, 'json');
        }
    });
});
</script>