<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray administrator"></span>Top Giver</span></div><!-- End header -->
    <div class="content" >

        {{ form_open({"enctype": "multipart/form-data", "id": "form_val"}) }}

        <!-- Third / Half column-->
        <div class="widgets">
            <div class="oneThree">
                <div class="profileSetting twoImageInput" >
                    <div class="avartar"><img data-upload="image_filename" src="/assets/img/no_image_2.jpg" width="180" height="180" alt="Topgiver" title="Topgiver" /></div>
                    <div class="avartar">
                        <input type="file" class="fileupload" name="image_filename" id="form_image_filename">
                        <p align="center"><span id="topgiver_picture">TOP GIVER'S PICTURE</span></p>
                    </div>
                </div>
            </div>

            <div class="twoOne">
                <div class="section ">
                    <label> Name<small>Enter name of top giver</small></label>   
                    <div> 
                        <input type="text" class="large" name="name" value="{{ value.name }}" data-focus="1" aria-required="true" required>
                        {{ errmsg.name ? "<div class='flderrmsg'>#{ errmsg.name }</div>" : '' }}
                    </div>
                </div>

        {% for label, value in fields %}
            {% if label|length > 2 %}
                <div class="section ">
                    <label> {{ label|replace({'_': ' '}) }}</label>   

                    <div>

                {% if label == 'about' %}
                        <textarea name="{{ label }}" class="large input"></textarea>
                {% else %}
                        <input name="{{ label }}" class="large input" type="text">
                {% endif %}

                    </div>

                </div>
            {% endif %}
        {% endfor %}
               
                <div class="section last">
                    <div><a class="uibutton submit_form" >Submit</a></div>
                </div>
            </div>

        </div><!-- End Third / Half column-->
        <button class="hidden_submit"></button>
        {{ form_close() }}

        <!-- clear fix -->
        <div class="clear"></div>

    </div><!-- End content -->
</div><!-- End full width -->

<script type="text/javascript">
$(function()
{
    $('img[data-upload]').click(function(){
        $('input[name='+$(this).data('upload')+']').click();
    });

    $('#form_image_filename').change(function(){
        read_url(this, $(this).parents('.profileSetting').find('img'));
    });

    $('#form_val').submit(function(){
        var is_valid = true;

        if ($('#form_image_filename').val()){
            $('#topgiver_picture').css('color', '#AAAAAA');
        } else {
            is_valid = false
            $('#topgiver_picture').css('color', 'red');
        }

        if ( ! is_valid)
            return false;
    });
});
</script>