<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray administrator"></span>Top Giver</span>
        <a class="uibutton submit_form" href="/admin/topgiver/create">Add a Top Giver</a>
    </div><!-- End header -->
    <div class="content" >
{{ form_open() }}
    <input type="hidden" name="topgiver_id">

{% for giver in topgivers %}
        <!-- Third / Half column-->
        <div class="widgets quasi_form">
            <div class="oneThree">
                <div class="profileSetting twoImageInput" >
                    <div class="avartar"><img src="{{ giver.image_filename ? "/web_data/donor/#{giver.image_filename}" : '/assets/img/no_image_2.jpg' }}" alt="{{ giver.name }}"></div>
                </div>
            </div>

            <div class="twoOne">
                <div class="section ">
                    <label> Name</label>   
                    <div class="large">{{ giver.name }}</div>
                </div>
            </div>

    {% for label, value in giver.info %}

        {% if label|length > 2 and label|slice(-3) != "_id" and label != "data_from" %}

            <div class="twoOne form-group">
                <div class="section ">
                    <label> {{ label|replace({'_': ' '}) }}</label>   

            {% if label == 'about' %}
                    <textarea name="{{ label }}" class="largest input" disabled>{{ value }}</textarea>
            {% else %}
                    <input name="{{ label }}" class="largest input" type="text" value="{{ value }}" disabled>
            {% endif %}

                </div>
            </div>

        {% endif %}

    {% endfor %}

            <div class="twoOne">
                <button class="uibutton confirm" data-id="{{ giver.id }}">Edit</button>
                <button class="uibutton special hidden">Save</button>
            </div>
        </div><!-- End Third / Half column-->

        <!-- clear fix -->
        <div class="clear"></div>

    {% if not loop.last %}
        <hr class="thinfade">
    {% endif %}

{% endfor %}

{{ form_close() }}
    </div><!-- End content -->
</div><!-- End full width -->

<script>
$('form button.confirm').click(function(e){
    e.preventDefault();
    $('#form_topgiver_id').val( $(this).data('id') );
    $(this).siblings('button').removeClass('hidden');
    $(this).parent().siblings('div.form-group').find('input, textarea').removeAttr('disabled');
    $(this).parent().siblings('div.form-group').find('input, textarea').first().focus();
    $('form button.confirm').hide();
});
</script>