/* Reset default browser CSS.
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline:0;
}
body {
	line-height: 18px;
	font-family:Arial, Helvetica, sans-serif;
	background:#fbfbfb;
	min-width:1000px;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ul {
	list-style-type: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
a{ text-decoration:none;}
a img { border: none;}
:focus{ outline:none;}
/* -------------------------------------------------------------- */

.clear{ clear:both;}

#header_strip{ background:#086d99; border-bottom:solid 1px #a2cee9; height:29px;}
#header_strip .hs_inner{ height:21px; padding:2px 0; margin:0 auto; position:relative; width:1000px;}
#header_strip #header_menu{ position:absolute; right:0px; top:2px; height:21px;}
#header_strip #header_menu >li{ position:relative; float:left; display:block; color:#FFF; font-size:11px; padding:0 10px; line-height:21px;}
#header_strip #header_menu >li img{ display:none;}
#header_strip #header_menu li a{ color:#FFF; display:block;}
#header_strip #header_menu li a:hover{ color:#95d8f5; display:block;}
#header_strip #language_box > div {
	margin-top: 4px;
}

#site_header{ border-bottom:solid 10px #95d8f5; background:#cce8f8 url(/assets/img/header_bg.gif) 0 0 repeat-x;}
#site_header .sh_inner{ display:block; width:1000px; height:auto; padding-top:118px; position:relative; margin:0 auto;}
#site_header .sh_inner .main_logo{ background:url(/assets/img/site_logo.png); height:66px; width:164px; display:block; position:absolute; top:30px; left:25px;}

#main_menu{ position:absolute; right:5px; top:60px; height:29px; display:block;}
#main_menu li{ position:relative; float:left; line-height:29px; padding:0 4px;}
#main_menu li a{ display:block; font-family:Arial, Helvetica, sans-serif; line-height:29px; font-size:13px; color:#ffffff; font-weight:bold; padding-left:10px;}
#main_menu li a span{ padding-right:10px; display:block; line-height:29px; cursor:pointer; text-shadow:1px 1px 3px #367fa9;}

#main_menu li a:hover, #main_menu li a.current{ background:#0f79a7 url(/assets/img/main_menu_hover_bg.gif) 0 0;}
#main_menu li a:hover span, #main_menu li a.current span{ background:#0f79a7 url(/assets/img/main_menu_hover_bg.gif) 100% 0;}

.sm_icons{ position:absolute; top:11px; right:20px; height:35px;}
.sm_icons a{ display:block; height:35px; width:35px; position:relative; float:left; margin-left:3px;}
.sm_icons a span{ height:35px; width:35px; display:block;}

.sm_icons a span.sm_icon_01{ background:url(/assets/img/sm_icons.png) 0 0;}
.sm_icons a span.sm_icon_02{ background:url(/assets/img/sm_icons.png) 315px 0;}
.sm_icons a span.sm_icon_03{ background:url(/assets/img/sm_icons.png) 280px 0;}
.sm_icons a span.sm_icon_04{ background:url(/assets/img/sm_icons.png) 245px 0;}
.sm_icons a span.sm_icon_05{ background:url(/assets/img/sm_icons.png) 210px 0;}
.sm_icons a span.sm_icon_06{ background:url(/assets/img/sm_icons.png) 175px 0;}
.sm_icons a span.sm_icon_07{ background:url(/assets/img/sm_icons.png) 140px 0;}
.sm_icons a span.sm_icon_08{ background:url(/assets/img/sm_icons.png) 105px 0;}
.sm_icons a span.sm_icon_09{ background:url(/assets/img/sm_icons.png) 70px 0;}
.sm_icons a span.sm_icon_10{ background:url(/assets/img/sm_icons.png) 35px 0;}



.sm_icons a span.sm_icon_01:hover{ background:url(/assets/img/sm_icons_hover.png) 0 0;}
.sm_icons a span.sm_icon_02:hover{ background:url(/assets/img/sm_icons_hover.png) 315px 0;}
.sm_icons a span.sm_icon_03:hover{ background:url(/assets/img/sm_icons_hover.png) 280px 0;}
.sm_icons a span.sm_icon_04:hover{ background:url(/assets/img/sm_icons_hover.png) 245px 0;}
.sm_icons a span.sm_icon_05:hover{ background:url(/assets/img/sm_icons_hover.png) 210px 0;}
.sm_icons a span.sm_icon_06:hover{ background:url(/assets/img/sm_icons_hover.png) 175px 0;}
.sm_icons a span.sm_icon_07:hover{ background:url(/assets/img/sm_icons_hover.png) 140px 0;}
.sm_icons a span.sm_icon_08:hover{ background:url(/assets/img/sm_icons_hover.png) 105px 0;}
.sm_icons a span.sm_icon_09:hover{ background:url(/assets/img/sm_icons_hover.png) 70px 0;}
.sm_icons a span.sm_icon_10:hover{ background:url(/assets/img/sm_icons_hover.png) 35px 0;}
