{% import 'macro/form.twig' as mac %}

{{ form_open() }}
    <input type="hidden" name="post_id" value="{{ post.id }}">

    <fieldset class="niceform">
        <legend>Add New Comment</legend>
        <div>
            <label for="form_name">Name<span class="red"> * </span> :</label>
            <input type="text" name="name" class="fullwidth" value="{{ value.name }}" {% if current_user %}readonly{% endif %}>
            {{ errmsg.name ? "<div class='flderrmsg'>#{ errmsg.name }</div>" : '' }}
        </div>
        <div>
            <label for="form_email">Email<span class="red"> * </span> :</label>
            <input type="text" name="email" class="fullwidth" value="{{ value.email }}" {% if current_user %}readonly{% endif %}>
            {{ errmsg.email ? "<div class='flderrmsg'>#{ errmsg.email }</div>" : '' }}
        </div>
        <div>
            <label for="form_website">Website</label>
            <input type="text" name="website" class="fullwidth" value="{{ value.website }}" placeholder="http://www.example.com/">
        </div>
        <div>
            <label for="form_comment">Comment<span class="red"> * </span> :</label>
            <textarea type="text" name="comment" class="fullwidth" rows="8">{{ value.comment }}</textarea>
            {{ errmsg.comment ? "<div class='flderrmsg'>#{ errmsg.comment }</div>" : '' }}
        </div>

        {{ mac.honeypot() }}

        <div class="actions">
            <button class="button">Post Comment</button>
        </div>
    </fieldset>

{{ form_close() }}