<div id="cp_left">
    <div class="blog">

        <h1>{{ title }}</h1>
    {{ form_open() }}

        <fieldset class="niceform">
            
            <div>
                <label for="form_title">Title<span style="color:red"> * </span> :</label>
                <input type="text" name="title" class="fullwidth" value="{{ value.title }}">
                {{ errmsg.title ? "<div class='flderrmsg'>#{ errmsg.title }</div>" : '' }}
            </div>
            <div>
                <label for="form_post">Post<span style="color:red"> * </span> :</label>
                <textarea type="text" name="post" class="fullwidth tinymce">{{ value.post }}</textarea>
                {{ errmsg.post ? "<div class='flderrmsg'>#{ errmsg.post }</div>" : '' }}
            </div>
            <div>
                <label form="">Category:</label>
                <input type="text" name="category" class="fullwidth" value="{{ value.category }}" placeholder="First, second, third, etc... comma separated">
            </div>
            <div class="actions">
                <button class="button">Submit</button>
            </div>

        </fieldset>

    {{ form_close() }}

    </div>
</div>

{% include "right-comment-category.twig" %}

<div class="clear"></div>
<div><img src="/assets/img/sponser_wanted.gif"></div>

<script>
$(function(){
    $('textarea.tinymce').tinymce({
        script_url : '/assets/vendor/tiny_mce/tiny_mce.js',
        theme : "advanced",
        mode : "textareas",
        plugins : "autoresize",
        theme_advanced_buttons1 : "bold,italic,underline,undo,redo,link,unlink,image,forecolor,styleselect,removeformat,cleanup,code",
        theme_advanced_buttons2 : "",
        theme_advanced_buttons3 : "",
        theme_advanced_toolbar_location : "bottom",
        theme_advanced_toolbar_align : "center",
        theme_advanced_styles : "Code=codeStyle;Quote=quoteStyle",
        entity_encoding : "raw",
        add_unload_trigger : false,
        remove_linebreaks : false,
        inline_styles : false,
        convert_fonts_to_spans : false
    });
});
</script>