<div id="cp_right">
    <div><a href="#"><input type="submit" class="members_home2_btn" value="" name=""></a></div>

{% if comments %}
    <section>
        <h1>Recent Comments</h1>
        <div class="catagory">
            <ul>

        {% for comment in comments %}
            {% if comment.user_id %}
                <li><a href="/member/index/{{ comment.user_id }}">{{ comment.name }}</a> on <a href="/blog/view/{{ comment.post.id }}">{{ comment.post.title }}</a></li>
            {% else %}
                <li>{{ comment.name }} on <a href="/blog/view/{{ comment.post.id }}">{{ comment.post.title }}</a></li>
            {% endif %}
        {% endfor %}
                
            </ul>
        </div>
    </section>
{% endif %}

{% if categories %}
    <section>
        <h1>Categories</h1>
        <div class="catagory">
            <ul>

            {% for category in categories %}
                <li><a href="/blog/category/{{ category.id }}">{{ category.category|title }}</a></li>
            {% endfor %}
                
            </ul>
        </div>
    </section>
{% endif %}

    <div class="cp_right_logo_div center margin-top-2em">
        <a href="#"><img src="/assets/img/site_logo.png"></a>
    </div>
</div>
