<div id="cp_left">
    <div class="blog">
        <div class="blog_form">

        {% if user %}
            <div class="add_btn"><span class="read_more_btn"><a href="/blog/create">Add Post</a></span></div>
        {% endif %}

            <div class="blog_title"><span class="blog_title_heading">{{ post.title|title }}</span></div>
            <div class="blog_title">
                <div class="blog_img_thumb"><img style="height:38px;width:38px" src="{{ post.user.get_avatar(post.user.id, 38) }} ">
                    <div class="blog_img_text">
                        <div class="blog_img_thumb_heading1">by <span class="nobr">{{ post.user.first_name }} {{ post.user.last_name }}</span></div>
                        <div class="blog_img_thumb_heading2">{{ post.created_at|date('M d, Y')}}</div>
                    </div>
                </div>
                <ul>

                {% for nonprofit in post.user.member.nonprofits %}
                    <li><a href="/nonprofit/index/{{ nonprofit.id }}">{{ nonprofit.name }}</a></li>
                {% endfor %}

                </ul>
            </div>
            <div class="clearBoth"></div>

            <div class="blog_text_container">

                <section>
                    <div class="justify">{{ post.post }}
                        <div class="clearBoth"></div>
                    </div>
                    <div class="clearBoth"></div>
                </section>
                
            {% for category in post.categories %}
                <a href="/blog/category/{{ category.id }}">{{ category.category }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}

            {% if current_user.id == post.user_id %}
                <div class="post-controls">
                    <span class="read_more_btn"><a href="/blog/update/{{ post.id }}">Update</a></span>
                </div>
            {% endif %}
                
            </div>

    {% if post.comments %}

    <section class="comment">
        <h2>Comments</h2>

        {% for comment in post.comments %}
            <div class="comment light-border">
                <div class="commenter">

                {% if comment.user %}
                    <img style="height:38px;width:38px" src="{{ comment.user.get_avatar(comment.user_id, 38) }}">
                {% else %}
                    <img style="height:38px;width:38px" src="{{ comment.get_gravatar(comment.user_id, 38) }}">
                {% endif %}

                    <div>{{ comment.name }}</div>
                    <span>{{ comment.time_elapsed(comment.created_at) }}</span>
                </div>
                <div>{{ comment.comment }}</div>
            </div>

        {% endfor %}

    </section>

    {% endif %}

        <div class="light-border">
        {% include "comment-form.twig" %}
        </div>

        {% if pagination %}
            
            <div align="center" class="pagination">
                <ul class="ul-pagination">

                {% if offset == 1 %}
                    <li class="previous-off"><span>&laquo; Previous</span></li>
                {% else %}
                    <li class="previous"><a href="/blog/{{ url_path }}1">&laquo; Previous</a></li>
                {% endif %}

                {% for page in pagination %}
                    <li {{ loop.index == offset ? 'class="active"' : '' }}><a href="/blog/{{ url_path }}{{ loop.index }}">{{ loop.index }}</a></li>
                {% endfor %}

                {% if offset == count(pagination) %}
                    <li class="next-off"><span>Next &raquo;</span></li>
                {% else %}
                    <li class="next"><a href="/blog/{{ url_path }}{{ count(pagination) }}">Next &raquo;</a></li>
                {% endif %}

                </ul>
            </div>            

        {% endif %}

        </div>
    </div>
</div>

{% include "right-comment-category.twig" %}

<div class="clear"></div>
<div><img src="/assets/img/sponser_wanted.gif"></div>
