  <div id="footer_l"><div id="footer_r"><div id="footer_c">
    <div class="footer_text flt_left">
      <p></p>
    </div>
    <div class="help_links flt_right">
    </div>
    <div class="version">Copyright 2013. Club4causes, All rights reserved.</div>
  </div></div></div>
