<div id="content">
  <div class="top">
    <div class="left"></div>
    <div class="right"></div>
    <div class="center">
    </div>
  </div>
  <div class="middle">
  <div class="content">
      <h1><?php echo $heading_title; ?></h1>
    <?php if ($error) { ?>
    <div class="warning"><?php echo $error; ?></div>
    <?php } ?>
    <?php echo  $form[ 'form_open' ];	  ?>
      <p><?php echo $text_email; ?></p>
      <b style="margin-bottom: 2px; display: block;"><?php echo $text_your_email; ?></b>
      <div style="background: #F7F7F7; border: 1px solid #DDDDDD; padding: 10px; margin-bottom: 10px;">
        <table>
				<tr>
					<td width="150"><?php echo $entry_email; ?></td>
					<td><?php echo $form['email']?></td>
				</tr>
			</table>
      </div>
      <div class="buttons">
        <table>
				<tr>
					<td align="left"><?php echo $form['back']; ?></td>
					<td align="right"><?php echo $form['continue']; ?></td>
				</tr>
			</table>
      </div>
    </form>
  </div>
  </div>
  <div class="bottom">
    <div class="left"></div>
    <div class="right"></div>
    <div class="center"></div>
  </div>
</div>
<script type="text/javascript">
	$('#forgottenFrm_back').click( function(){
		location = '<?php echo $back; ?>';
	} )
</script>