<div class="b_block flt_right payment">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    	<div class="inline">
		<input type="hidden" name="cmd" value="_s-xclick" />
		<input type="hidden" name="hosted_button_id" value="YUDUXTP8GED58" />
		<input type="image" src="http://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" name="submit" alt="Donate to Shopping Cart Project and Help build better eCommerce application" />
		<img alt="" src="http://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </div>
	</form>
</div>