	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body{
		font: 12px/1.5em "arial";
		color: #333;
	}

	h2{
		font-size: 1.8em;
		font-weight: bold;
	}
	h3{
		font-size: 1.3em;
		font-style: italic;
	}

	.header{
		border-bottom: 1px dashed #444;
	}

	.header #logo img{

		padding: 10px;
	}

	.section{
		padding: 20px;
	}
	.points{
		font-size: .6em;
		color: rgb(46, 168, 226);
		position: relative;
		top: -5px;
	}

	#wrapper{
		width: 860px;
		margin: 0 auto;
	}

	#right-ads{
		background: rgb(46, 168, 226);
		width: 500px;
		height: 100px;
		display: inline-block;
	}

	#company ul li{
		display: inline-block;
		border: 1px solid #dcdcdc;
		font-size: 1.4em;
		padding: 4px;
		background: #f2f2f2;
		border-radius: 2px;
		margin-right: 10px;
	}


	#company ul li img{
		width: 53px;
		height: 53px;
	}

	#company ul li .caption{
		padding: 17px;
		vertical-align: top;
		position: relative;
		display: inline-block;
	}

	#menu-bot li{
		display: inline-block;
		float: left;
		padding: 10px;
	}

	#menu-bot li span{
		width: 113px;
		height: 145px;
		display: inline-block;
	}
	

	#menu-bot li#quizzes span{
		background: url(quizzes_btn.gif);
	}

	#menu-bot li#survey span{
		background: url(../img/survey_btn.gif);
	}

	#menu-bot li#polls span{
		background: url(polls.gif);
	}

	#menu-bot li#games span{
		background: url(games.gif);
	}

	#menu-bot li#contest span{
		background: url(contest.gif);
	}

	.color-table{
		width: 100%;
		text-align: center;
		box-shadow: inset rgba(0,0,0,.5) -2px 13px 13px ;
		border-collapse: separate;
		color: #f2f2f2;
	}

	.color-table thead{
		text-transform: uppercase;
	}

	.color-table thead td{
		border-bottom: 1px solid #555;
		height: 50px;
		vertical-align: middle;
		font-size: 15px;
	}

	.color-table tbody tr:nth-child(1) td{
		border-top: 1px solid #f2f2f2;
	}

	.color-table th, .color-table td{
		padding: 5px;
	}

	.color-table td:nth-child(1){
		background-color: yellowgreen;
	}

	.color-table td:nth-child(2){
		background-color: green;
	}

	.color-table td:nth-child(3){
		background-color: cyan;
	}

	.color-table td:nth-child(4){
		background-color: red;
	}

	.color-table th{
		width: 25%;
	}