<div>

    <h1>Today's Subjects</h1>

    <div class="challenges_div1 center">
        <input type="submit" value="" class="quizzer_btn" data-href="/challenges/quizzes">
        <input type="submit" value="" class="survey_btn" data-href="/challenges/surveys">
        <input type="submit" value="" class="polls_btn" data-href="/challenges/polls">
        <!-- <input type="submit" value="" class="games_btn" data-href="/challenges/games"> -->
        <input type="submit" value="" class="contest_btn" data-href="/challenges/contests">
        <input style="height: 10em; width: 10em; border-color: royalblue; -moz-border-radius: 5em; border-radius: 5em; font-size:1.1em; color: royalblue;" type="submit" value="Horoscope" class="horoscope_btn" data-href="/challenges/horoscope">
    </div>

    <div>
        <div class="floatLeft glowbox purple">A very poitical survey -- Not for the faint of heart</div>
        <div class="floatLeft glowbox purple"></div>
        <div class="floatLeft glowbox purple"></div>
        <div class="floatLeft glowbox purple"></div>
    </div>
    <div>
        <div class="floatLeft glowbox purple"></div>
        <div class="floatLeft glowbox purple"></div>
        <div class="floatLeft glowbox purple"></div>
        <div class="floatLeft glowbox purple"></div>
    </div>

    <div class="clearBoth"></div>

    <div class="color_box margin-top-2em">
        <div style="width:68%; margin: 0 auto">
            <div class="color_box_newstitle_outer">
                <div class="color_box_newstitle">NEWS</div>
                Business News,<br> Headlines,<br> Politics Politics
            </div>
            <div class="color_box_greenbox_outer">
                <div class="color_box_greenbox">ENTERTAINMENT</div>
                Best Seller Books<br> (Fiction),<br> Celebrities,<br> Current Music,<br> Fashion,<br> Best Seller Books<br> (Non-Fiction),<br> Current Movies,<br> Current T.V.
            </div>   
            <div class="color_box_bluebox_outer">
                <div class="color_box_bluebox">SPORTS</div>
                Baseball, Boxing,<br> Fishing, Hockey,<br> Outdoors, Soccer,<br> Tennis, Basketball,<br> Fantasy Sports,<br> Golf, Nascar,<br> Scuba Diving,<br> UFC
            </div>     
            <div class="color_box_red_outer">
                <div class="color_box_red">OTHERS</div>
                Antiques,<br> Cars, History<br> Recipes &amp; Cooking,<br> Trivia, Art,<br> Geography,<br> Pets,<br> Travel
            </div>   
            <div class="promotional_container3">Daily Challenges: Bingo, Chess, Bridge, Crossword, Poker, Puzzles, Slots, Solitaire, Suduko games </div>
        </div>
    </div>

    <div class="points_allocation">
        <h1><cufon class="cufon cufon-canvas" alt="Point " style="width: 39px; height: 16px;"><canvas width="51" height="15" style="width: 51px; height: 15px; top: 0px; left: 0px;"></canvas><cufontext>Point </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Allocations" style="width: 75px; height: 16px;"><canvas width="83" height="15" style="width: 83px; height: 15px; top: 0px; left: 0px;"></canvas><cufontext>Allocations</cufontext></cufon></h1>
        <div class="points_allocation_easypoints one-fourtynine">
            <div class="points_allocation_easypoints_title">Easy Points</div>
            <div class="points_allocation_easypoints_left">
                <span>Referring  a  new member</span><br>
                <span>Each login</span><br>
                <span>Participating in a chat room</span><br>
                <span>Each shopping purchase</span>
            </div>
            <div class="points_allocation_easypoints_left">
                <span>500 each.</span><br>
                <span>200 (200 per day maximum)</span><br>
                <span>200 (200 per day maximum)</span><br>
                <span>2000 (each check out)</span>
            </div>
        </div>
        <div class="points_allocation_easypoints2 one-fourtynine">
            <div class="points_allocation_easypoints_title">Sponsership</div>
            <div class="points_allocation_easypoints_left">
                <span>Member's page</span><br>
                <span>Partner’s page</span><br>
                <span>Other</span><br>
            </div>
            <div class="points_allocation_easypoints_left">
                <span>5,000 points</span><br>
                <span>10,000 points</span><br>
                <span>10,000 points</span><br>
            </div>
            <p></p>
        </div>
        <div class="challenges">
            <div class="challenges_title">Challenges</div>
            <div class="challenges_left">
                <span class="challeges_title2">Challenges</span><br>
                <span>Contests</span><br>
                <span>Games</span><br>
                <span>Quizzes</span><br>
                <span>Survey  and  Polls </span><br>
                <span>Fantasy Games </span><br>
                <span>Puzzles </span><br>
                <span>Horoscope </span>
                <br>
            </div>
            <div class="challenges_left">
                <span class="challeges_title2">Participate</span>
                <br>
                <span>500</span><br>
                <span>500</span><br>
                <span>500</span><br>
                <span>500</span><br>
                <span>1000</span><br>
                <span>500</span><br>
                <span>100</span><br>
            </div>
            <div class="challenges_left">
                <span class="challeges_title2">Plus</span><br>
                <span>- - -</span><br>
                <span>- - -</span><br>
                <span>- - -</span><br>
                <span>- - -</span><br>
                <span>- - -</span><br>
                <span>- - -</span><br>
            </div>
            <div class="challenges_right">
                <span class="challeges_title2">Win</span><br>
                <span>3,000 </span><br>
                <span>- - -</span><br>
                <span>1,000</span><br>
                <span>- - -</span><br>
                <span>5,000</span><br>
                <span>1000</span><br>
            </div>
            <div class="challenges_right">
                <span class="challeges_title2">Second </span> <br>
                <span>2,000</span><br>
                <span>- - -</span><br>
                <span>- - -</span><br>
                <span>- - -</span><br>
                <span>3,000</span><br>
                <span>- - -</span><br>
            </div>
            <div class="challenges_right">
                <span class="challeges_title2">Third</span>
                <br>
                <span>1,000 </span><br>
                <span>- - -</span><br>
                <span>- - -</span><br>
                <span>- - -</span><br>
                <span>2,000</span><br>
                <span>- - -</span><br>
            </div>
        </div>
    </div>
</div>
{# include "/../right-new-members.twig" #}