
   <div id="cp_left">

      <div class="challenges_div1"><input type="submit" class="quizzer_btn" value="" name="">
        <input type="submit" class="survey_btn" value="" name="">
        <input type="submit" class="polls_btn" value="" name="">
        <input type="submit" class="games_btn" value="" name="">
        <input type="submit" class="contest_btn" value="" name="">
    </div>

    <div>
        <div class="floatLeft glowbox purple">A very poitical survey -- Not for the faint of heart</div>
        <div class="floatLeft glowbox purple"></div>
        <div class="floatLeft glowbox purple"></div>
        <div class="floatLeft glowbox purple"></div>
    </div>
    <div>
        <div class="floatLeft glowbox purple"></div>
        <div class="floatLeft glowbox purple"></div>
        <div class="floatLeft glowbox purple"></div>
        <div class="floatLeft glowbox purple"></div>
    </div>

    <div class="color_box">

        <div class="color_box_newstitle_outer">
          <div class="color_box_newstitle">NEWS</div>
          Business News,<br>

          Headlines,<br>
          Politics

          Politics
      </div>


      <div class="color_box_greenbox_outer">
          <div class="color_box_greenbox">ENTERTAINMENT</div>
          Best Seller Books<br>
          (Fiction),<br>
          Celebrities,<br>
          Current Music,<br>
          Fashion,<br>
          Best Seller Books<br>
          (Non-Fiction),<br>
          Current Movies,<br>
          Current T.V.</div>   

          <div class="color_box_bluebox_outer">
            <div class="color_box_bluebox">SPORTS</div>
            Baseball, Boxing,<br>

            Fishing, Hockey,<br>
            Outdoors, Soccer,<br>
            Tennis, Basketball,<br>
            Fantasy Sports,<br>
            Golf, Nascar,<br>
            Scuba Diving,<br>
            UFC
        </div>     


        <div class="color_box_red_outer">
            <div class="color_box_red">OTHERS</div>
            Antiques,<br>
            Cars, History<br>
            Recipes &amp; Cooking,<br>
            Trivia, Art,<br>
            Geography,<br>
            Pets,<br>
            Travel
        </div>   



    </div>





    <div class="promotional_container3">Daily Challenges: Bingo, Chess, Bridge, Crossword, Poker, Puzzles,
      Slots, Solitaire, Suduko games, Fantasy Sports
  </div>

            <div class="point_allocations">
                <h2 class="pa_title">Point Allocations</h2>
                <div class="pa_content">
                
                    <div class="pac_box">
                    <a href="#" class="info_icon"></a>
                        <h3>Easy Points</h3>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr class="alt_row">
                            <td>Referring  a  new member</td>
                            <td>{{ settings.referring_a_new_member }} each.</td>
                          </tr>
                          <tr>
                            <td>Each login</td>
                            <td>{{ settings.each_login }}<small>({{ settings.each_login }} per day maximum)</small></td>
                          </tr>
                          <tr class="alt_row">
                            <td>Participating in a chat room</td>
                            <td>{{ settings.participating_in_a_chat_room }}<small>({{ settings.participating_in_a_chat_room }} per day maximum)</small></td>
                          </tr>
                          <tr>
                            <td>Each shopping purchase</td>
                            <td>{{ settings.each_shopping_purchase }}<small>(each check out)</small></td>
                          </tr>
                          <tr class="alt_row">
                            <td>Horoscope</td>
                            <td>{{ settings.horoscope }}<small>({{ settings.horoscope }} per day maximum)</small></td>
                          </tr>
                        </table>
                    </div>
                
                {#
                    <div class="pac_box pac_box_right">
                    <a href="#" class="info_icon"></a>
                        <h3>Sponsership</h3>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr class="alt_row">
                            <td>Member's page</td>
                            <td>{{ settings.members_page|number_format }} points</td>
                          </tr>
                          <tr>
                            <td>Non Profit's page</td>
                            <td>{{ settings.non_profits_page|number_format }} points</td>
                          </tr>
                          <tr class="alt_row">
                            <td>Others</td>
                            <td>{{ settings.others|number_format }} points</td>
                          </tr>
                        </table>
                  </div>
                #}
                
                <div class="clear"></div>
                <br />

                    <div class="pac_box">
                    <a href="#" class="info_icon"></a>
                        <h3>Challenges</h3>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <thead>
                              <tr>
                                <th>Challenges</th>
                                <th>Participate</th>
                                <th>Win</th>
                                <th>Second</th>
                                <th>Third</th>
                              </tr>
                          </thead>
                          <tr>
                            <td>Contests</td>
                            <td>{{ settings['contests.participation'] }}</td>
                            <td>{{ settings['contests.first'] }}</td>
                            <td>{{ settings['contests.second'] }}</td>
                            <td>{{ settings['contests.third'] }}</td>
                          </tr>
                          <tr class="alt_row">
                            <td>Games</td>
                            <td>{{ settings['games.participation'] }}</td>
                            <td>{{ settings['games.first'] }}</td>
                            <td>{{ settings['games.second'] }}</td>
                            <td>{{ settings['games.third'] }}</td>
                          </tr>
                          <tr>
                            <td>Quizzes</td>
                            <td>{{ settings['quizzes.participation'] }}</td>
                            <td>{{ settings['quizzes.first'] }}</td>
                            <td>{{ settings['quizzes.second'] }}</td>
                            <td>{{ settings['quizzes.third'] }}</td>
                          </tr>
                          <tr class="alt_row">
                            <td>Survey and Polls</td>
                            <td>{{ settings['survey_and_polls.participation'] }}</td>
                            <td>{{ settings['survey_and_polls.first'] }}</td>
                            <td>{{ settings['survey_and_polls.second'] }}</td>
                            <td>{{ settings['survey_and_polls.third'] }}</td>
                          </tr>
                          <tr>
                            <td>Fantasy Games</td>
                            <td>{{ settings['fantasy_games.participation'] }}</td>
                            <td>{{ settings['fantasy_games.first'] }}</td>
                            <td>{{ settings['fantasy_games.second'] }}</td>
                            <td>{{ settings['fantasy_games.third'] }}</td>
                          </tr>
                          <tr class="alt_row">
                            <td>Slot Games</td>
                            <td>{{ settings['slot_games.participation'] }}</td>
                            <td>{{ settings['slot_games.first'] }}</td>
                            <td>{{ settings['slot_games.second'] }}</td>
                            <td>{{ settings['slot_games.third'] }}</td>
                          </tr>
                          <tr>
                            <td>Puzzles</td>
                            <td>{{ settings['puzzles.participation'] }}</td>
                            <td>{{ settings['puzzles.first'] }}</td>
                            <td>{{ settings['puzzles.second'] }}</td>
                            <td>{{ settings['puzzles.third'] }}</td>
                          </tr>
                          
                        </table>
                    </div>
                
                
                </div>
            </div>
{#
  <div class="points_allocation">
      <h1><cufon class="cufon cufon-canvas" alt="Point " style="width: 39px; height: 16px;"><canvas width="51" height="15" style="width: 51px; height: 15px; top: 0px; left: 0px;"></canvas><cufontext>Point </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Allocations" style="width: 75px; height: 16px;"><canvas width="83" height="15" style="width: 83px; height: 15px; top: 0px; left: 0px;"></canvas><cufontext>Allocations</cufontext></cufon></h1>



      <div class="points_allocation_easypoints">

        <div class="points_allocation_easypoints_title">Easy Points</div>

        <div class="points_allocation_easypoints_left">
          <span>Referring  a  new member</span><br>
          <span>Each login</span><br>
          <span>Participating in a chat room</span><br>
          <span>Each shopping purchase</span>
      </div>

      <div class="points_allocation_easypoints_left">
          <span>500 each.</span><br>
          <span>200 (200 per day maximum)</span><br>
          <span>200 (200 per day maximum)</span><br>
          <span>2000 (each check out)</span>
      </div>
  </div>


  <div class="points_allocation_easypoints2">

    <div class="points_allocation_easypoints_title">Sponsership</div>

    <div class="points_allocation_easypoints_left">
      <span>Member's page</span><br>
      <span>Partner’s page</span><br>
      <span>Other</span><br>
  </div>

  <div class="points_allocation_easypoints_left">
      <span>5,000 points</span><br>
      <span>10,000 points</span><br>
      <span>10,000 points</span><br>
  </div>
  <p></p>

</div>
<div class="challenges">

    <div class="challenges_title">Challenges</div>

    <div class="challenges_left">
      <span class="challeges_title2">Challenges</span><br>
      <span>Contests</span><br>
      <span>Games</span><br>
      <span>Quizzes</span><br>
      <span>Survey  and  Polls </span><br>
      <span>Fantasy Games </span><br>
      <span>Puzzles </span>
      <br>
  </div>

  <div class="challenges_left">
      <span class="challeges_title2">Participate</span>
      <br>
      <span>500</span><br>
      <span>500</span><br>
      <span>500</span><br>
      <span>500</span><br>
      <span>1000</span><br>
      <span>500</span><br>

  </div>
  <div class="challenges_left">
      <span class="challeges_title2">Plus</span><br>
      <span>- - -</span><br>
      <span>- - -</span><br>
      <span>- - -</span><br>
      <span>- - -</span><br>
      <span>- - -</span><br>
      <span>- - -</span><br>
  </div>

  <div class="challenges_right">
      <span class="challeges_title2">Win</span><br>
      <span>3,000 </span><br>
      <span>- - -</span><br>
      <span>1,000</span><br>
      <span>- - -</span><br>
      <span>5,000</span><br>
      <span>1000</span><br>
  </div>

  <div class="challenges_right">
      <span class="challeges_title2">Second </span> <br>
      <span>2,000</span><br>
      <span>- - -</span><br>
      <span>- - -</span><br>
      <span>- - -</span><br>
      <span>3,000</span><br>
      <span>- - -</span><br>
  </div>

  <div class="challenges_right">
      <span class="challeges_title2">Third</span>
      <br>
      <span>1,000 </span><br>
      <span>- - -</span><br>
      <span>- - -</span><br>
      <span>- - -</span><br>
      <span>2,000</span><br>
      <span>- - -</span><br>
  </div>
</div>



</div>
#}


</div>


{% include "content/right-new-members.twig" %}

    <div align="center" class="cp_right_logo_div"><a href="#"><img src="images/site_logo.png"></a></div>
