
<div id="cp_about">
    <div class="contact">
        <div id="cp_right"><a href="/"><input type="submit" name="input" value="" class="members_home2_btn" /></a>&nbsp;&nbsp;</div>
        <span class="about_heading">Our Team</span>
        <p class="about_heading2"> OUR GOAL</p>
        <p> To enable everyone who has a passion for a non profit cause, a charity, congregation, school, or fraternal organization, to support that cause, simply by enjoying playing in our challenges section and shopping for things they want to buy,in our shopping mall. The clubs profit, 75% of the gross income of the club, goes to your favorite cause.<br />
        <br /></p>
        <p class="about_heading2">OUR CONTRIBUTORS</p>
        <p>These people and businesses have donated their time and services, and for this we are extremely grateful, and would appreciate you considering them for your endeavors
        <br />
        <br /></p>

        <div class="quote"><blockquote>"You give but little when you give of your possessions. It is when you give of yourself that you truly give"</blockquote>
            <div class="quotedby">Kahlil Gibran</div>
            <div class="clearBoth"></div>
        </div>

        <div style="height:390px; overflow: scroll">
            
    {% for contrib in contributors %}

            <div class="about_box glowbox">
                <div class="about_box_left">
                    <img src="{{ contrib.image_filename ? "/web_data/contributor/#{ contrib.image_filename }" : '/assets/img/no_image_2.jpg' }}" width="89" height="89" />
                    <span class="about_box_left_h1">{{ contrib.name }}</span><br />
                    <span class="about_box_left_h2">{{ contrib.organization_name }}</span>
                    <img src="{{ contrib.organization_logo ? "/web_data/contributor/#{ contrib.organization_logo }" : '/assets/img/no_image_2.jpg' }}" width="32" height="36" />
                </div>
                <div class="about_box_right">{{ contrib.organization_text }}</div>
                <div style="clear:both;"></div>            
        {% for interface in contrib.assets %}
            <div class="light-border">
                <div>
            {% if interface.asset.type == 'image' %}
                    <img src="{{ interface.asset.location }}">
            {% elseif interface.asset.type == 'link' %}
                    <a href="{{ interface.asset.location }}">{{ interface.asset.location }}</a>
            {% elseif interface.asset.type == 'video' %}
                    <iframe width="560" height="315" src="{{ interface.asset.location|replace({'watch?v=': 'embed/'}) }}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
                </div>
                <div>
                    {{ interface.asset.description }}
                </div>
            </div>
        {% endfor %}
            </div>

    {% endfor %}

        </div>

    </div>
</div>
<div class="clear"></div>
