<h1>World's Top Givers</h1>
{% for info in top_donors_info %}

    <div class="donor glowbox">
        <img class="floatLeft topgiver" src="{{ img_path }}{{ info.donor.image_filename }}">

        <div class="img-right floatLeft">
            {% if info.data_from %}
                <div><label>{{ info.label('data_from') }}</label>: <span>{{ info.data_from }}</span></div>
            {% endif %}

            {% if info.position %}
                <h3>{{ info.position }}</h3>
            {% endif %}

            {% if info.age %}
                <div><label>{{ info.label('age') }}:</label> <span>{{ info.age }}</span></div>
            {% endif %}
            
            {% if info.source_wealth %}
                <div><label>{{ info.label('source_wealth') }}:</label> <span>{{ info.source_wealth }}</span></div>
            {% endif %}
            
            {% if info.residence %}
                <div><label>{{ info.label('residence') }}:</label> <span>{{ info.residence }}</span></div>
            {% endif %}
            
            {% if info.country %}
                <div><label>{{ info.label('country') }}:</label> <span>{{ info.country }}</span></div>
            {% endif %}
            
            {% if info.education %}
                <div><label>{{ info.label('education') }}:</label> <span>{{ info.education }}</span></div>
            {% endif %}
            
            {% if info.marital_status %}
                <div><label>{{ info.label('marital_status') }}:</label> <span>{{ info.marital_status }}</span></div>
            {% endif %}
            
            {% if info.child_count %}
                <div><label>{{ info.label('child_count') }}:</label> <span>{{ info.child_count }}</span></div>
            {% endif %}
        </div>

        <div class="clearBoth"></div>

        <h2>{{ info.donor.name }}{{ info.country ? ", #{ info.country }" : "" }}</h2>

        <div class="img-bottom">
            <div><label>{{ info.label('donation_billion') }}</label>:
                <span>$ {{ info.donation_billion > 1 ? "#{ info.donation_billion } billion" : "#{ info.donation_billion * 1000 } million" }}</span>
            </div>
            <div><label>{{ info.label('networth_billion') }}</label>:
                <span>$ {{ info.networth_billion > 1 ? "#{ info.networth_billion } billion" : "#{ info.networth_billion * 1000 } million" }}</span>
            </div>
            <div>{{ info.about }}</div>
        </div>
    </div>

    <div class="ads glowbox watermark center">
        Advertising
    </div>

{% endfor %}
