<div id="cp_left">

    <h1><cufon style="width: 115px; height: 24px;" alt="Frequently " class="cufon cufon-canvas"><canvas style="width: 131px; height: 23px; top: 0px; left: -1px;" height="23" width="131"></canvas><cufontext>Frequently </cufontext></cufon><cufon style="width: 66px; height: 24px;" alt="Asked " class="cufon cufon-canvas"><canvas style="width: 83px; height: 23px; top: 0px; left: -1px;" height="23" width="83"></canvas><cufontext>Asked </cufontext></cufon><cufon style="width: 102px; height: 24px;" alt="Questions" class="cufon cufon-canvas"><canvas style="width: 115px; height: 23px; top: 0px; left: -1px;" height="23" width="115"></canvas><cufontext>Questions</cufontext></cufon></h1>

    <div class="glossymenu">

    {% for faq in faqs %}
    
        <div>
            <a data-id="{{ faq.id }}" href=""><div class="floatLeft accordsuffix"><img src="assets/img/plus.gif" class="statusicon"></div>{{ faq.question }}</a>
            <div id="ans_{{ faq.id }}" style="display: none;" class="submenu"><ul><li><a href="">{{ rtrim(faq.answer, '<br>') }}</a></li></ul></div>
        </div>

    {% endfor %}

    </div>
    
</div>

<div id="cp_right">
  <div>
    <div align="right">
      <a href="/"><input type="submit" class="members_home2_btn" value="" name=""></a>&nbsp;&nbsp;
    </div>
  </div>
  <div style="background-color:#FFFFDD;width:155px"><center></center></div>
</div>

<script type="text/javascript">

$(function(){
    $('.glossymenu > div > a').click(function(){
        var ans = $('#ans_' + $(this).data('id')),
            $this = this;
        ans.slideToggle(function(){
            if (ans.is(':visible')) {
                $($this).find('img.statusicon').attr('src', 'assets/img/minus.gif');
            } else {
                $($this).find('img.statusicon').attr('src', 'assets/img/plus.gif');
            }
        });
    });

    $('.submenu').click(function(){
        var $this = this;
        $(this).slideUp(function(){
            $($this).siblings('a:first').find('img.statusicon').attr('src', 'assets/img/plus.gif');
        });
    })
});

</script>