{% import 'macro/form.twig' as mac %}
{% import 'macro/helper.twig' as mach %}

        <div id="cp_left">
        
            <div class="whats_new_pan">
                <h1 class="wnp_title">What's New</h1>
                <div class="wnp_content_box">
                    <div class="wnp_content">
                    
    {% for comment in comments %}

                    <div class="wnp_content_div1">
                      <div class="wnp_content_title ">{{ comment.topic.name }}</div>
                      <!-- <div><img src="/assets/img/video_image.gif" /></div> -->
                      <div>
                        <span class="wp_content_div1_heaidng1">{{ comment.title }}</span><br />
                        <span class="wp_content_div1_heaidng2">{{ date('M d, Y', comment.created_at) }}</span>
                        <p>{{ comment.message }}<br><br></p>
                        <div align="right"><span><img src="/assets/img/slidr_bg.gif" /></span> </div>
                      </div>                    
                    </div>

    {% endfor %}

                    <div style="clear:both;"></div>
                    </div>
              </div>
            </div>
            
{% include "middle-alpha-scoreboard.twig" %}
{% include "middle-member-leaders.twig" %}
{% include "middle-member-newest.twig" %}
            
            <div class="point_allocations">
                <h2 class="pa_title">Point Allocations</h2>
                <div class="pa_content">
                
                    <div class="pac_box">
                    <a href="#" class="info_icon"></a>
                        <h3>Easy Points</h3>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr class="alt_row">
                            <td>Referring  a  new member</td>
                            <td>{{ settings.referring_a_new_member }} each.</td>
                          </tr>
                          <tr>
                            <td>Each login</td>
                            <td>{{ settings.each_login }}<small>({{ settings.each_login }} per day maximum)</small></td>
                          </tr>
                          <tr class="alt_row">
                            <td>Participating in a chat room</td>
                            <td>{{ settings.participating_in_a_chat_room }}<small>({{ settings.participating_in_a_chat_room }} per day maximum)</small></td>
                          </tr>
                          <tr>
                            <td>Each shopping purchase</td>
                            <td>{{ settings.each_shopping_purchase }}<small>(each check out)</small></td>
                          </tr>
                          <tr class="alt_row">
                            <td>Horoscope</td>
                            <td>{{ settings.horoscope }}<small>({{ settings.horoscope }} per day maximum)</small></td>
                          </tr>
                        </table>
                    </div>
                
                {#
                    <div class="pac_box pac_box_right">
                    <a href="#" class="info_icon"></a>
                        <h3>Sponsership</h3>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr class="alt_row">
                            <td>Member's page</td>
                            <td>{{ settings.members_page|number_format }} points</td>
                          </tr>
                          <tr>
                            <td>Non Profit's page</td>
                            <td>{{ settings.non_profits_page|number_format }} points</td>
                          </tr>
                          <tr class="alt_row">
                            <td>Others</td>
                            <td>{{ settings.others|number_format }} points</td>
                          </tr>
                        </table>
                  </div>
                #}
                
                <div class="clear"></div>
                <br />

                    <div class="pac_box">
                    <a href="#" class="info_icon"></a>
                        <h3>Challenges</h3>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <thead>
                              <tr>
                                <th>Challenges</th>
                                <th>Participate</th>
                                <th>Win</th>
                                <th>Second</th>
                                <th>Third</th>
                              </tr>
                          </thead>
                          <tr>
                            <td>Contests</td>
                            <td>{{ settings['contests.participation'] }}</td>
                            <td>{{ settings['contests.first'] }}</td>
                            <td>{{ settings['contests.second'] }}</td>
                            <td>{{ settings['contests.third'] }}</td>
                          </tr>
                          <tr class="alt_row">
                            <td>Games</td>
                            <td>{{ settings['games.participation'] }}</td>
                            <td>{{ settings['games.first'] }}</td>
                            <td>{{ settings['games.second'] }}</td>
                            <td>{{ settings['games.third'] }}</td>
                          </tr>
                          <tr>
                            <td>Quizzes</td>
                            <td>{{ settings['quizzes.participation'] }}</td>
                            <td>{{ settings['quizzes.first'] }}</td>
                            <td>{{ settings['quizzes.second'] }}</td>
                            <td>{{ settings['quizzes.third'] }}</td>
                          </tr>
                          <tr class="alt_row">
                            <td>Survey and Polls</td>
                            <td>{{ settings['survey_and_polls.participation'] }}</td>
                            <td>{{ settings['survey_and_polls.first'] }}</td>
                            <td>{{ settings['survey_and_polls.second'] }}</td>
                            <td>{{ settings['survey_and_polls.third'] }}</td>
                          </tr>
                          <tr>
                            <td>Fantasy Games</td>
                            <td>{{ settings['fantasy_games.participation'] }}</td>
                            <td>{{ settings['fantasy_games.first'] }}</td>
                            <td>{{ settings['fantasy_games.second'] }}</td>
                            <td>{{ settings['fantasy_games.third'] }}</td>
                          </tr>
                          <tr class="alt_row">
                            <td>Slot Games</td>
                            <td>{{ settings['slot_games.participation'] }}</td>
                            <td>{{ settings['slot_games.first'] }}</td>
                            <td>{{ settings['slot_games.second'] }}</td>
                            <td>{{ settings['slot_games.third'] }}</td>
                          </tr>
                          <tr>
                            <td>Puzzles</td>
                            <td>{{ settings['puzzles.participation'] }}</td>
                            <td>{{ settings['puzzles.first'] }}</td>
                            <td>{{ settings['puzzles.second'] }}</td>
                            <td>{{ settings['puzzles.third'] }}</td>
                          </tr>
                          
                        </table>
                    </div>
                
                
                </div>
            </div>

        </div>
        
        
        <div id="cp_right">
            <div class="banner_box">
                <div class="cat_bg">
                    <div class="cat_bg_div1">Amber Alert</div>
                    <div class="cat_bg_div2">
                      <!--
                        <div><a href="{{ missing.merchant_url }}"><img src="/web_data/missing/{{ missing.image_filename }}"></a></div>
                        <div>{{ missing.name }}</div>
                        <div><a href="{{ missing.merchant_url }}"><input type="submit" name="" value="" class="clickhere_btn" /></a></div>
                      -->
<script src="http://www.gmodules.com/ig/ifr?url=http://hosting.gmodules.com/ig/gadgets/file/110425332155132166639/amber.xml&amp;up_missing_state={{ random_us_state }}&synd=open&w=290&h=210&border=%23ffffff%7C3px%2C1px+solid+%23ffffff&output=js"></script>
                    </div>
                </div>
                <div class="cat_bg">
                    <div class="cat_bg_div1">adoptable pets from 13,754<br /> adoption groups</div>
                    <div class="cat_bg_div2">
                        <div><a href="{{ pet.merchant_url }}"><img src="/web_data/pets/{{ pet.image_filename }}"></a></div>
                        <div>{{ pet.name }}</div>
                        <div><a href="{{ pet.merchant_url }}"><input type="submit" name="" value="" class="clickhere_btn" /></a></div>
                    </div>
                </div>
            </div>
            
{% include "right-nprofit-top-leaders.twig" %}

{% if birthday_users %}
  {% include "right-happy-birthday.twig" %}
{% endif %}

{# include "right-new-members-rectangle.twig" #}
            
        </div>
