<div id="cp_left">
  <div class="registration">
    <div class="registration_form">

      <h1>{{ member.user.first_name }} {{ member.user.last_name }}</h1>
      <div class="members_nprofit">
        <ul>
          {% for nonprofit in member.nonprofits %}
          <li><a href="/nonprofit/index/{{ nonprofit.id }}">{{ nonprofit.name }} <span class="members_title_heading2">({{ nonprofit.running_points }})</span></a></li>
          {% endfor %}
        </ul>
        <div class="edit_btn"><span>(Edit)</span><img src="/assets/img/england_bg.gif"></div>
      </div>
      <div class="member_person_div">
        <fieldset>
          <div class="member_person_div">
            <div class="member_person_div_image"><a href="/my/homepage"><img src="{{ img_filename }}"></a></div>
            <div class="member_person_div2">
              <div class="member_person_div2_heading1">Current Points : <span>{{ member.running_points }}</span></div>
              <div class="member_person_div2_heading2">Email: {{ member.user.email }}</div>
              <div class="member_person_div2_heading3">
                Upload Photo :<img width="105" height="25" src="/assets/img/webcam_btn.gif">
                <img width="105" height="25" src="/assets/img/facebook_btn.gif">
              </div>
            </div>
            <div class="member_person_div2_heading4">
              Challenges:   <span>5845</span>            
              Shopping:  <span>5845</span>                 
              New members: <span>5845</span> 
              <br>
              Misc:  <span>5845</span>                   
              TOTAL:  <span>1089</span>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="clearBoth"></div>

      {{ form_open({"enctype": "multipart/form-data"}) }}

      <input type="hidden" name="posted_img_filename">

      <div style="text-align:center">
        <div id="upload_webcam" style="text-align:center">
          <div>
            <div id="webcam"></div>
            <div style="margin:5px;">
              <img src="/assets/img/webcamlogo.png" style="vertical-align:text-top"/>
              <select id="cameraNames" size="1" onChange="changeCamera()" style="width:245px;font-size:10px;height:25px;"></select>
            </div>
          </div>
          <div>
            <input type="button" id="btn_capture_webcam" onclick="base64_toimage()" value="Capture Webcam Image">
          </div>
          <div>or</div>
        </div>
        <div>Upload photo <input type="file" name="img_filename"></div>
      </div>

      {% for nonprofit in member.nonprofits %}

      <div class="why_i_chose">
        <fieldset>
          <div>
            <legend class="abaca-legend2"><cufon class="cufon cufon-canvas" alt="Why I Chose" style="width: 34px; height: 16px;"><canvas width="45" height="15" style="width: 45px; height: 15px; top: 0px; left: 0px;"></canvas><cufontext>Why I Chose</cufontext></cufon></legend>

            <legend class="abaca-legend2">
              <a href="/nonprofit/index/{{ nonprofit.id }}"><cufon class="cufon cufon-canvas" alt="{{ nonprofit.name }}" style="width: 32px; height: 16px;"><canvas width="43" height="15" style="width: 43px; height: 15px; top: 0px; left: 0px;"></canvas><cufontext>{{ nonprofit.name }}</cufontext></cufon></a>
              <input type="button" value="change" data-href="/my/nonprofit/{{ nonprofit.id }}">
            </legend>

            <div class="why_i_chose_div"><textarea class="reason_autosave" data-id="{{ nonprofit.id }}">{{ reasons[nonprofit.id] }}</textarea></div>

          </div>
        </fieldset>           
        <div class="share_btn_div"><div class="share_btn_div_text">To day I'd like to Invite</div>
        <img width="396" height="31" src="/assets/img/share_btn.gif">
      </div>
    </div>
    <br><br><br>

    {% endfor %}

    <!-- Member invites -->
    <div class="why_i_chose">
      <fieldset>
        <div>
          <div class="why_i_chose_div">
            <div class="today_share_heading">Today I’d like to invite
              <div class="today_share_heading2">(receive 500 points for all who become members)</div>
            </div>
            <textarea name="invite_emails"></textarea>
          </div>
          <span class="post_btn_span"> <a href="#"> <input type="submit" class="post_btn" value=""></a><br>
            <br>
          </span><br><br>
          <br>
          <br>
          <br>
        </div>
      </fieldset>           
    </div>


    <style type="text/css">
    .celebrity{
      background: #DCDCDC;
      padding: 5px;
    }

    div.celeb {
      margin: 10px;
      height: 190px;
      width: 130px;
      overflow: hidden;
      font-size: 0.9em;
      line-height: 1em;
    }

    .div-img .watermark {
      font-size: 5em;
      line-height: 150px;
      background-color: #ddd;
      cursor: pointer;
    }

    .xCircle {
      font-size: 14px;
      font-weight: normal;
    } 

    .xCircle.remove{
      margin-left: 10px;
    }

    .smallRed {
      display: inline;
      margin-left: 20px;
      font-size: 12px;
      color: red;
      font-weight: normal;
    }

    </style>

    <div class="picked-celebrity">


      {% if picked_celeb|length > 0 %}
      {% for celeb in picked_celeb|slice(0,6) %}

      <div class="celeb-container">
        <input type="hidden" name="celebrity_ids[]" data-idx="1" id="form_celebrity_ids[]" value="{{ celeb.id }}">
        <div>
          <div class="featured-celebrities">
            <div class="featured">
              <div class="featured-img">
                <a href="/celebrities/profile/{{ celeb.id }}">
                  <img src="/web_data/celebrities/img/{{ celeb.image_filename }}" alt="celeb">
                </a>
              </div>

              <div class="bio">
                <div class="featured-name">{{ celeb.first_name }} {{ celeb.last_name }}
                  
                </div>
                <div class="clearBoth"></div>
                <div class="short-bio">
                  {% if celeb.short_bio or celeb.looktothestars_bio %}
                  <pre>{{ celeb.short_bio ? celeb.short_bio : celeb.looktothestars_bio }}</pre>
                  {% endif %}
                  {% if celeb.birth_info %}
                  <div class="birth_info">{{ celeb.birth_info|raw }}</div>
                  {% endif %}
                  <div class="gray margin-top-2em small">If you have relevant information about this celeb's activities that you think should be included here, please <a href="/contact">contact us</a>.
                  </div>
                </div>
              </div>

              <div class="featured-about">

                {% if celeb.nonprofits %}
                <div class="label clearBoth">Charities &amp; foundations supported:</div>
                <ul>
                  {% for nonprofit in celeb.nonprofits %}
                  <li><a href="">{{ nonprofit.name }}</a></li>
                  {% endfor %}
                </ul>
                {% endif %}

                {% if celeb.causes %}
                <div class="label clearBoth">Supported Causes:</div>
                <ul>
                  {% for cause in celeb.causes %}
                  <li><a href="">{{ cause.cause }}</a></li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>

              <div class="clearBoth"></div>

              {% if celeb.members %}
              <div class="container-slider">
                <label>Fans <span>({{ count(celeb.members) }})</span></label>
                <div class="celeb-members">

                  {% for member in celeb.members %}

                  {% if loop.first %} 
                  <div class="member-group">
                    {% else %}
                    {% if loop.index0 % 6 == 0 %} 
                  </div>
                  <div class="member-group">
                    {% endif %}
                    {% endif %}


                    <div class="member">
                      <div class="small-img"><a href="/member/index/{{ member.id }}"><img src="{{ member.user.get_avatar(member.user.id, 60) }}"></a></div>
                      <div class="small-name"><a href="/member/index/{{ member.id }}">{{ member.user.first_name }}</a></div>
                      {% if member.nonprofits %}
                      {% for nonprofit in member.nonprofits %}
                      <div class="small-nprofit"><a href="">{{ nonprofit.name }}</a></div>
                      {% endfor %}
                      {% endif %}
                    </div>

                    {% if loop.last %} 
                  </div>
                  {% endif %}

                  {% endfor %}

                </div>
              </div>
              {% endif %}
            </div>


            <div class="clearBoth"></div>
          </div>
        </div>
      </div>

      {% endfor %}
      {% else%}

      Optional &rarr; To become a fan, click here to choose up to six of your favorite celebrities

      {% endif %}          

    </div>

    <div id="list-celeb" class="glowbox" style="display: none; position: fixed; top:20px; right: 40px; width: 66%; z-index:10; height: 93%; padding: 10px">
      <div class="xCircle floatRight">x</div>

      <div class="clearBoth" style="margin: 10px; width: 95%">
        <div class="links floatLeft one-half myh1">Browse by cause</div>
        <div class="links floatLeft myh1">Browse by field</div>
      </div>
      <hr class="clearBoth thinfade">

      <div class="clearBoth" style="overflow-y:scroll; overflow-x:hidden; height: 40%; margin: 10px">
        <div class="links floatLeft one-half">
          <div id="cause-link"></div>
        </div>
        <div class="links floatLeft one-half">
          <div id="field-links"></div>
        </div>
      </div>

      <hr class="clearBoth thinfade">
      <div id="alphabet" style="overflow-y:scroll; overflow-x:hidden; height: 50%; margin: 10px"></div>

      <div class="center"><input type="button" value="Close"></div>
    </div>

    {{ form_close() }}

    {% include "member-comments.twig" %}

    <div class="promotional light-border">
      {% if member %}
      <div style="display:block; float:right; margin:15px auto; text-align:center"><a href="javascript:download('SEE_ME_ON_SMALL');"><img src="/assets/img/see-me-on-small.jpg" title="Save Photo" /></a>
        <p style="font-weight:bold">You can help, raise money for your non profits,</p>
        <p style="font-weight:bold">by placing this Badge on your website and/or emails.</p></div>
        <div><a href="http://email.about.com/od/iphonemailtips/qt/et_ip_signature.htm" target="_blank">Set Up Email Signature for IOS Device</a></div>
        <div><a href="http://email.about.com/od/outlooktips/qt/Create_Email_Signature_Outlook.htm" target="_blank">Set Up Email Signature for Outlook</a></div>
        <div><a href="http://email.about.com/od/windowslivehotmailtips/qt/How_to_Set_Up_Your_Windows_Live_Hotmail_Signature.htm" target="_blank">Set Up Email Signature for Hotmail </a></div>
        <div><a href="http://macs.about.com/od/appleconsumersoftware/qt/Add-A-Signature-To-Your-Email-Messages-In-Apple-Mail.htm" target="_blank">Set Up Email Signature for Apple</a></div>
        <div><a href="http://email.about.com/od/yahoomailtip1/qt/How_to_Set_Up_Your_Yahoo_Mail_Signature.htm" target="_blank">Set Up Email Signature for Yahoo</a></div>
        <div><a href="http://email.about.com/od/gmailtips/qt/et_signature.htm" target="_blank">Set Up Email Signature for Gmail</a></div>
        <div><a href="http://droidlessons.com/how-to-setup-email-signatures-on-android/" target="_blank">Set Up Email Signature for Android</a></div>
        <div><a href="http://email.about.com/od/livemaildesktoptips/qt/How_to_Create_a_Signature_in_Windows_Live_Mail_Outlook_Expre.htm" target="_blank">Set Up Email Signature for Windows Live </a></div>
        <div><a href="http://www.hosting.com/support/email/create-an-email-signature-in-thunderbird" target="_blank">Set Up Email Signature for Thunderbird</a></div>
        <div><a href="http://email.about.com/od/aoltips/qt/How-To-Set-Up-An-Email-Signature-In-Aol.htm" target="_blank">Set Up Email Signature for AOL </a></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{# include "right-new-members.twig" #}
<div class="clear"></div>
<div><img src="/assets/img/sponser_wanted.gif"></div>
<script> 
on_ready.push(function()
{
  $("#webcam").scriptcam({
    height: 320,
    width: 320,
    path: '/assets/vendor/scriptcam/',
    onError:onError,
    onWebcamReady:onWebcamReady
  });

    /**
     * Auto save when losing focus
     */
     $('textarea.reason_autosave').blur(function(){
      $this = this;
      $.post('/ajax/save_reason_for_choosing',
      {
        reason_text: $(this).val(),
        nonprofit_id: $(this).data('id')
      }, function(result){
        if (result.success)
        {
          if ("insert" == result.operation)
            $($this).attr('title', 'Successful saving of entries.');
          else if ("update" == result.operation)
            $($this).attr('title', 'Successful updating of entries.');
          else
            $($this).attr('title', 'Successful in clearing reasons for choosing.')
        }
        else
        {
          $($this).attr('title', 'Failed attempt to update reasons for choosing.')
        }
      }, 'json'
      );
    });

     $('#form_img_filename').change(function(){
      parent = $(this).parent();
      parent.children('button').remove();
      parent.append($('<button/>')
        .html('Change my photo permanently')
        .css({ backgroundColor: '#D3CA35', padding: '2px 15px' })
        );

      img = $('div.member_person_div_image img');
      read_url_improved(this, img);
      img.attr('title', 'Click [Change my photo permanently] to save this photo');
    });
   });
function base64_toimage() {
  $('div.member_person_div_image > img').attr("src","data:image/png;base64,"+$.scriptcam.getFrameAsBase64());

  $.post('/ajax/save_member_webcam_image', { img_base64: $.scriptcam.getFrameAsBase64() }, function(response){
    if (response.success)
      $('input[name=posted_img_filename]').val(response.img_filename);
    else
      alert("Failed attempt to save webcam image, please try again.");
  }, 'json');
};
function changeCamera() {
  $.scriptcam.changeCamera($('#cameraNames').val());
}
function onError(errorId,errorMsg) {
    // alert(errorMsg);
    $('div#upload_webcam').hide();
  }           
  function onWebcamReady(cameraNames,camera,microphoneNames,microphone,volume) {
    $.each(cameraNames, function(index, text) {
      $('#cameraNames').append( $('<option></option>').val(index).html(text) )
    }); 
    $('#cameraNames').val(camera);
  }
  </script>
