<div id="cp_left">
    <h1>Having trouble signing in?</h1>

{{ form_open() }}

    <fieldset class="niceform">

        <div>
            <label for="form_username">Enter Username or Email Address :</label>
            <input type="text" name="username" value="{{ value.username }}" class="wide" aria-required="true" required data-focus="1">
            {{ errmsg.username ? "<div class='flderrmsg'>#{ errmsg.username }</div>" : '' }}
        </div>
        <div class="actions">
            <button class="button">Continue</button>
        </div>

    </fieldset>

{{ form_close() }}

</div>
