<div id="cp_left">
    <h1>Password Reset</h1>

{{ form_open({id: 'password-form'}) }}

    <fieldset class="niceform">

        <div>
            <label for="form_password">Enter your new password :</label>
            <input type="password" name="password" aria-required="true" required data-focus="1">
            <div class="flderrmsg"></div>
        </div>
        <div>
            <label for="form_password_reentry">Reenter password :</label>
            <input type="password" name="password_reentry" aria-required="true" required>
            <div class="flderrmsg"></div>
        </div>
        <div class="actions">
            <button class="button">Submit</button>
        </div>

    </fieldset>

{{ form_close() }}

</div>
