<div id="cp_right">

{% if show_home_btn_on_right %}
    <div><a href="/"><input type="submit" class="members_home2_btn" value="" name=""></a>&nbsp;&nbsp;</div>
{% endif %}

    <div class="new_member">New Members
        <div class="scroll_btn ">  <a href="javascript:movedown()"><img src="/assets/img/scroll_down.png"></a>  <a href="javascript:moveup()"><img src="/assets/img/scroll_up.png"></a></div>
    </div> 

    <div style="background-color:#FFFFDD;width:155px"><center></center>
    </div>

<script language="JavaScript1.2">

    //Manual Scroller- © Dynamic Drive 2001
    //For full source code, visit http://www.dynamicdrive.com

    //specify speed of scroll (greater=faster)
    var speed=2

    iens6=document.all||document.getElementById
    ns4=document.layers

    if (iens6){
        document.write('<div id="container" style="position:relative;width:300px;height:625px;overflow:hidden; margin:15px 0px 0px 0px;">')
        document.write('<div id="content" style="position:absolute;width:300px;left:0px;top:0px">')
    }
</script>

    <div id="container" style="position:relative;width:300px;height:625px;overflow:hidden; margin:15px 0px 0px 0px;">
        <div id="content" style="position:absolute;width:300px;left:0px;top:0px">

            <ilayer name="nscontainer" width="300" height="625" clip="0,0,155,160">
                <layer name="nscontent" width="300" height="625" visibility="hidden">

                <!--INSERT CONTENT HERE-->
                <div class="scroller_div">
{% for member in newest_members %}
            {% if loop.index0 % 4 == 0 %} 
                        </ul>
                    <ul> 
            {% endif %}
                        <li>
                            <div class="one-square"><a href="/member/index/{{ member.id }}"><img class="gravatar" src="{{ member.user.get_avatar(member.user.id) }}" title="{{ member.user.first_name }} {{ member.user.last_name }}"></a>
    {% for nonprofit in member.nonprofits %}
                            <span class="nobr"><a href="/nonprofit/index/{{ nonprofit.id }}" title="{{ nonprofit.name }}">{{ nonprofit.name }}</a></span>
    {% endfor %}
                            </div>
                        </li> 
{% endfor %}
                    </ul> 
                </div>
                <!--END CONTENT-->

                </layer>
            </ilayer>

<script language="JavaScript1.2">
if (iens6){
    document.write('</div></div>')
    var crossobj=document.getElementById? document.getElementById("content") : document.all.content
    var contentheight=crossobj.offsetHeight
}
else if (ns4){
    var crossobj=document.nscontainer.document.nscontent
    var contentheight=crossobj.clip.height
    }

    function movedown(){
        if (window.moveupvar) clearTimeout(moveupvar)
        if (iens6&&parseInt(crossobj.style.top)>=(contentheight*(-1)+100))
            crossobj.style.top=parseInt(crossobj.style.top)-speed+"px"
        else if (ns4&&crossobj.top>=(contentheight*(-1)+100))
            crossobj.top-=speed
        movedownvar=setTimeout("movedown()",20)
    }

    function moveup(){
        if (window.movedownvar) clearTimeout(movedownvar)
        if (iens6&&parseInt(crossobj.style.top)<=0)
            crossobj.style.top=parseInt(crossobj.style.top)+speed+"px"
        else if (ns4&&crossobj.top<=0)
            crossobj.top+=speed
        moveupvar=setTimeout("moveup()",20)
    }

    function stopscroll(){
        if (window.moveupvar) clearTimeout(moveupvar)
        if (window.movedownvar) clearTimeout(movedownvar)
    }

    function movetop(){
        stopscroll()
        if (iens6)
            crossobj.style.top=0+"px"
        else if (ns4)
            crossobj.top=0
    }

    function getcontent_height(){
        if (iens6)
            contentheight=crossobj.offsetHeight
        else if (ns4)
            document.nscontainer.document.nscontent.visibility="show"
    }
    window.onload=getcontent_height
</script>

        </div>
    </div>
    <div class="cp_right_logo_div" align="center">
        <a href="/"><img src="/assets/img/site_logo.png"></a></div>
</div>