    <div id="cp_about">

        <div class="registration">
        {% if current_user %}
            <div class="shopping_heading1">
                Hi {{ current_user.first_name }} {{ current_user.last_name }}, 

                {% for np in current_member.nonprofits %} 
                    <span style="color:#57a">{{ np.name }}</span>
                    {% if not loop.last %} and {% endif %}
                {% endfor %}

                thank you for your support
            </div>
        {% else %}
            <div class="shopping_heading1">Welcome to Club4causes!</div>
        {% endif %}

            <div class="floatLeft one-fourtynine">
                <div class="shopping_search_box">Search by business name
                    <input type="text" id="textfield" name="textfield">
                    <a href="#"><input type="submit" class="submit_btn" value=""></a>
                </div>
            </div>

            <div class="floatRight one-fourtynine" style="">
                <div class="shopping_search_box">Search by product
                    <select name="" id="">
                        <option value="">items list selection</option>
                    </select>
                    <a href="#"><input type="submit" class="submit_btn" value=""></a>
                </div>
            </div>

            <div class="nonprofit_banner" style="margin-top: 15px">

        {% for slide in shopslides %}

                <div class="slide-group">
                    <table>
                        <tr>
                            <td>
                                We love to shop online<br>
                                with<br>
                                <img class="c4c" src="assets/img/site_logo.png"><br>

                                <div>
                                {% for nonprofit in current_user.member.nonprofits %}
                                    {% if loop.first %} support {% else %} and {% endif %}
                                    <span style="color:yellow;font-weight:bold">{{ nonprofit.name }}</span><br>
                                {% endfor %}
                                </div>

                            </td>
                            <td>
                                <img class="img" src="web_data/static/images/{{ slide.image_filename }}">
                            </td>
                        </tr>
                    </table>
                </div>

        {% endfor %}

            </div>
        
            <div id="circles"></div>

        </div>

    </div>
    <div class="clear"></div>

    <div style="margin-top:30px;">
        <img src="assets/img/temporary-shopping-tabs.png">

        <div style="float:left; width: 66%">
            <div class="ads watermark center" style="margin:10px 0 25px; line-height: 100px;font-size:2em">
                Advertising
            </div>

            {#
            <div><h1>COUPONS <img src="assets/img/site_logo.png"></h1></div>
            {% for coupon in coupons %}
            <div class="shopping_coupon_box">
                <div><img src="{{ coupon.image_filename ? "/web_data/coupon/#{coupon.image_filename}" : '/assets/img/no_image_2.jpg' }}" alt="Business logo" title="Business logo" style="width:90px; height:90px; float:left"/></div>
                {{ coupon.business_name }}
                </div>
            {% endfor %}
            #}
            
            <img src="assets/img/temporary-shopping-coupon.png">
        </div>

        <div style="float:right">
            <div class="ads watermark center" style="margin:10px 0 25px; line-height: 985px; width: 300px;font-size:2em">
                Advertising
            </div>
        </div>

        <div style="text-align:center">
            <img src="assets/img/temporary-shopping-pager.png">
        </div>

        <div class="ads watermark center" style="line-height:135px; font-size:2em">
            Advertising
        </div>
    </div>

<script>
$(function(){
    $('.nonprofit_banner').mySlider({alwaysVisible: true, marginTop: '20px', prevLeft: '4px', nextRight: '12px'});

    $.each($('div.slide-group > div'), function(nil, obj){
        var adj = $(obj).height() / 2;
        $(obj).css('marginTop', '-'+adj+'px');
    })
});
</script>