hr.thinfade {
    margin: 10px 0;
}

.blog{ display:block;}
.blog h1{ font-size:30px; font-weight:bold; color:#3b3b3b; /*border-bottom:solid 2px #CCC;*/ padding:0 0 10px 0;}
.blog .blog_form{ display:block; padding:0px 0 10px; position:relative;}


.blog_title {
float:left;
width:100%;
font-family:Calibri;
color:#636363;
}

.blog_title_heading {
float:left;
width:auto;
font-family:Calibri;
color:#636363;
font-size:26px;
font-weight:bold;
line-height:40px;
padding:0px;
}

.blog_text_container {
color:#7d7d7d;
font-size:11px;
font-family:Verdana, Arial, Helvetica, sans-serif;
text-align:justify;
}

.blog_title_heading2 {
font-family:Calibri;
color:#000;
font-size:14px;
font-weight:bold;
}

.read_more_btn {
background-color:#747474;
border-radius:3px;
color:#FFFFFF;


}

.read_more_btn a {
background-color:#747474;
border-radius:3px;
color:#FFFFFF !important;
padding:4px 8px;
}

.read_more_btn a:hover {
background-color:#0f79a7;
border-radius:3px;
padding:4px 8px;
color:#FFFFFF;
}


.blog_title ul {
float:left;
}

.blog_title ul li {
float:left;
background-color:#e6e6e6;
border-radius:4px;
padding:10px;
font-size:16px;
font-weight:bold;
color:#388ec2;
margin:4px 5px;
}

.blog_title ul li a {
color:#388ec2 !important;
}

.blog_title ul li a:hover {
color:#000 !important;
}

.blog_img_thumb {
float:left;
height:60px;
width:26%;
}

.blog_img_text {
float:left;
padding:0px 20px 0px 0px;
width:50%;
}

.blog_img_thumb_heading1 {
float:left;
clear:both;
color:#969696;
}

.blog_img_thumb_heading1 span {
font-size:12px;
color:#086d99;
font-family:Verdana, Arial, Helvetica, sans-serif;
}



.blog_img_thumb_heading2 {
color:#5c5b5b;
}



.blog_img_thumb img{
float:left;
border:4px solid #e2e2e2;
margin:0px 8px 0px 0px;
}
.blog_img_thumb span {
clear:both;
}

.blog_dotted_line {
width:670px;
height:10px;
border-bottom:1px dashed #bababa;
font-size:8px;
font-family:Arial, Helvetica, sans-serif;
margin:12px 0px;
}

.recent_comment_bg {
background-image:url(/assets/img/recent_comment_bg.gif);
width:295px;
height:50px;
background-repeat:no-repeat;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#1e81ac;
margin:6px 0px 0px 0px;
line-height:43px;
text-align:center;
}

.recent_comment_bg_span1 {
color:#ef220b;
}

.recent_comment_bg_span2 {
color:#252525;
}

.post-controls {
    margin: 10px 0;
}

section.comment h2 {
    color:#C33;
    margin-top: 2em;
}
div.comment {
    margin: 8px 0;
}
div.comment hr {
    color: #B0D4E0;
}
div.comment div.commenter {
    height: 38px;
    line-height: 38px;
    margin-bottom: 10px;
}
div.comment div.commenter img {
    float: left;
}
div.comment div.commenter div {
    float: left;
    font-size: 1.2em;
    vertical-align: middle;
    padding-left: 10px;
}
div.comment div.commenter span {
    padding-left: 10px;
}
