div.donor {
    margin: 1em 0;
    padding: 2%;
    width: 96%;
    font-size: 1.2em;
    color: #444;
}

div.donor h2 {
    margin: 10px 0;
    font-size: 2em;
    font-weight: bold;
}

div.img-right {
    width: 46%;
    margin-left: 2%;
}
div.img-right > div {
    width: 100%;
    overflow: auto;
}

div.img-right h3 {
    margin: 0 0.25em 0.5em;
    font-weight: bold;
    font-size: 1.4em;
}

div.donor label {
    display: block;
    float: left;
    color: #086D99;
    font-weight: bold;
}
div.img-right span {
    float: left;
    margin-left: 2%;
    color: #000;
    font-style: italic;
}

div.img-right div {
    margin: 0.5em 0.5em;
}

div.img-bottom div {
    margin: 0.5em 0.2em;
    text-align: justify;
}

div.img-bottom div span {
    font-style: italic;
}

div.ads {
    margin: 1em 0;
    padding: 1em 0;
    line-height: 2em;
    font-size: 2em;
}

img.topgiver {
    max-width: 485px;
    max-height: 340px;
}