.glossymenu > div {
    margin: 10px 0;
}
.glossymenu > div > a {
    width: 100%;
    display: inline-block;
    font-size: 1.2em;
    padding: 10px 0;

    background: #29a7ce; /* Old browsers */
    background: -moz-linear-gradient(top,  #29a7ce 0%, #a3dbff 50%, #209ecc 100%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29a7ce), color-stop(50%,#a3dbff), color-stop(100%,#209ecc), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #29a7ce 0%,#a3dbff 50%,#209ecc 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #29a7ce 0%,#a3dbff 50%,#209ecc 100%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #29a7ce 0%,#a3dbff 50%,#209ecc 100%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #29a7ce 0%,#a3dbff 50%,#209ecc 100%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29a7ce', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    color: #333 !important;
    font-weight: bold;

    text-shadow: 2px 2px 2px #ccc;

}
.statusicon {
    height: 20px;
}
.glossymenu > div > div {
    width: 100% !important;
}

.accordsuffix {
    margin-left: 20px;
}