
.home_scoreboards{ width:670px; padding-top:20px; margin-bottom:12px;}
.home_scoreboards .cs_title{ font-size:22px; color:#151515; padding-bottom:8px; padding-left:3px; text-transform:capitalize;}
.home_scoreboards .cs_content{ position:relative; width:100%; padding-top:31px;}
.home_scoreboards .cs_content #cs_tabs{ position:absolute; top:0; left:0; width:100%; height:30px;}

.home_scoreboards .cs_content #cs_tabs li {
    position:relative; float:left; margin-right:3px; 
    background: #ffffff; 
    cursor:pointer; display:block; line-height:30px; padding:0 15px; font-size:16px;
    color: #101111; 
}

.home_scoreboards .cs_content #cs_tabs li.active {
    /*background: #2b6380 url(/assets/img/tab_shadow2.gif) 0 0 repeat-x; */
    background-color: #2b6380;
    border:solid 1px #0a374f; 
    border:solid 1px #ebebeb; border-bottom:solid 1px #FFF;
    color: #ffffff; 
}

.home_scoreboards .cs_content #cs_tabs li a{ 
    color:#101111;
}

.home_scoreboards .cs_content #cs_tabs li.active a{ 
    color:#ffffff;
}

.home_scoreboards .cs_content .cs_tabs_content{ 
    padding: 20px;
    text-align: center;
    border: 1px solid #B0D4E0;
    border-radius: 6px 6px 6px 6px;
}

.home_scoreboards .cs_content .cs_tabs_content ul { padding:5px; }

.home_scoreboards .cs_content .cs_tabs_content ul li { 
    background-color: #DFEBF2;
    border-radius: 6px 6px 6px 6px;
    color: #2B6380;
    float: left;
    font-family: Calibri;
    font-size: 20px;
    height: 31px;
    margin: 2px;
    padding: 4px;
    width: 33px;
}

.home_scoreboards .cs_content .cs_tabs_content ul li a {
line-height:30px;
color:#2b6380;
}

.home_scoreboards .cs_content .cs_tabs_content ul li a:hover {
    color:#ffffff;
}
.birthday_bg_div2 ul li a {
    color: skyblue;
}