div.celebrities {
    padding-left: 20px;
}

div.celeb {
    margin: 10px;
    height: 190px;
    width: 130px;
    overflow: hidden;
    font-size: 0.9em;
    line-height: 1em;
}

div.celeb img {
    display: inline;
    max-width: 140px;
    min-width: 130px;
}

.div-img {
    height: 160px;
    text-align: center;
    overflow: hidden;
}

.div-img .watermark {
    font-size: 5em;
    line-height: 150px;
    background-color: #ddd;
    cursor: pointer;
}

div.celeb div.name {
    padding: 5px;
    color: #666666;
}

#celeb-entry > label {
    font-size: 1.2em;
    color: #444;
    padding-right: 15px;
}

fieldset {
    margin: 30px 0;
}

#pick-celeb label {
    display: block;
    margin: 10px 0;
    padding-top: 10px;
    font-size: 3.5em;
    font-weight: bold;
    font-style: italic;
    color: #0D7AAA;
}

/* adjustments to celebrity.css */
div.bio {
    width: 420px;
}
div.featured {
    margin-top: 0;
}
div.featured-celebrities {
    margin-bottom: 0;
}
.xCircle {
    font-size: 14px;
    font-weight: normal;
}

.smallRed {
    display: inline; margin-left: 20px; font-size: 12px; color: red; font-weight: normal;
}
