div.slide-group {
    width: 992px;
    position: relative;
}
.shopping_heading1 {
    font-size: 1.6em;
}
div.slide-group {
    height: 280px;
}
table {
    width: 100%;
    border-collapse:collapse
}
table td {
    color: #eee;
    vertical-align: middle;
    background-color: #C51009;
    text-align: center;
    width: 100%;
    font-size: 2em;
    line-height: 1.4em;
}

td div {
    font-size: 0.7em;
    line-height: 1.3em;
}

table img.img {
    height: 280px;
}

table img.c4c {
    margin: 10px 0;
}

td span {
    color: yellow;
    font-weight: bold;
}

.shopping_search_box {
    width: 95%;
    font-size: 1.2em;
}

.shopping_search_box #form_textfield, .shopping_search_box select {
    width: 140px;
}

.shopping_coupon_box {
    background-color: #F9F8F8;
    border: 1px solid #E6E6E6;
    color: #2F2F2F;
    float: left;
    font-family: Calibri;
    font-size: 18px;
    height: 100px;
    margin: 0 18px 0 0;
    padding: 10px;
    width: 200px;
}

h1 {
    color: #0c7aa8;
    margin-bottom: 20px;
}